
// Connection Sidebar
// --------------------------------
.connection-sidebar {
  .list-body {
    height: fit-content
  }
  .sidebar-wrap {
    flex-grow: 1;
    height: 100%;
  }
  .list-group {
    position: relative;
    padding: 0;
    min-height: 105px;
    height: 100%;
  }
  .list-item {
    // border-bottom: 1px solid $border-color;
    .badge {
      min-width: fit-content;
    }
    .list-item {
      position: relative;
      padding-left: $gutter-w * 1.1;
      padding-right: 0;
    }
  }
  .connection-wrap {
    height: 100%;
    overflow: hidden;
    .list {
      height: 0;
      overflow: hidden;
      &.recent-connection-list {
        min-height: 185px;
      }
      .list-body {
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 18px;
          background: linear-gradient(0deg, rgba($theme-bg, 1) 0%, rgba($theme-bg, 0) 100%);
        }
      }
    }
  }
  .saved-connection-list {
    padding: 0;
    // margin-bottom: $gutter-h * 0.5;
    .actions {
      padding-right: 0;
    }
    a {
      &.active {
        background-color: rgba($theme-base, 0.06);
      }
    }
    .actions-btn {
      min-width: 0;
      padding: 0 $gutter-h;
      font-weight: normal;
      font-size: 0.8rem;
      &:hover {
        background: transparent;
        i {
          color: $text-dark;
        }
      }
      i {
        font-size: 16px;
        color: $text-light;
      }
    }
  }
  .connection-title {
    overflow: hidden;
    padding-right: ($gutter-h * 0.75);
    .subtitle {
      font-size: 80%;
      color: $text-lighter;
      display: flex;
      overflow: hidden;
      > span {
        display: flex;
        white-space: nowrap;
        overflow: hidden;
        min-width: 30px;
        &.bastion {
          max-width: 50%;
          flex-shrink: 0;
        }
        &.ssh {
          max-width: 40%;
          flex-shrink: 0;
        }
        &.connection {
          flex-shrink: 1;
        }
        &:first-of-type {
          > span {
            margin-left: 0;
          }
        }
        > span {
          @extend .truncate;
          margin: 0 0.2rem;
        }
      }
    }
  }
  .list-item-btn {
    position: relative;
    margin-right: 0;
    height: initial;
    line-height: initial;
    padding: $gutter-h ($gutter-w * 0.75);
    // &.folder-btn {
    //   padding-left: 0;
    //   .btn-fab {
    //     display: inline-flex;
    //     margin-right: 0;
    //   }
    //   &:hover {
    //     background: transparent;
    //   }
    // }
    .btn-fab {
      .material-icons {
        color: $text-dark;
      }
    }
    .dropdown {
      position: initial;
    }
    .dropdown-menu {
      top: 0.32rem;
      right: 0.4rem;
    }
  }
  .quick-connect {
    padding: $gutter-w;
  }
}
