$data-types: (
  tinyint:        lighten($brand-secondary, 10%),
  smallint:       lighten($brand-secondary, 10%),
  mediumint:      lighten($brand-secondary, 10%),
  int:            lighten($brand-secondary, 10%),
  bigint:         lighten($brand-secondary, 10%),
  bit:            $brand-secondary,
  bool:           lighten($brand-warning, 15%),
  boolean:        lighten($brand-warning, 15%),
  decimal:        $brand-info,
  float:          $brand-info,
  double:         $brand-info,
  char:           lighten($brand-danger, 8%),
  varchar:        lighten($brand-danger, 8%),
  binary:         $brand-purple,
  varbinary:      $brand-purple,
  text:           $text,
  tinytext:       $text,
  longtext:       $text,
  mediumtext:     $text,
  blob:           $brand-primary,
  tinyblob:       $brand-primary,
  mediumblob:     $brand-primary,
  longblob:       $brand-primary,
  enum:           $brand-success,
  set:            $brand-success,
  date:           $brand-pink,
  datetime:       $brand-pink,
  timestamp:      $brand-pink,
  time:           $brand-pink,
  year:           $brand-pink
);

@each $key, $val in $data-types {
  .badge.#{$key} {
    color: nth($val, 1);
    background: transparent;
  }
}
