#sidebar {
  .global-items {
    display: flex;
    flex-direction: column;
    background: $global-sidebar-bg;
    &.workspace {
      margin-top: $gutter-h * 0.5;
      .nav-item {
        .avatar {
          // padding: 2px;
          position: relative;
          background-clip: content-box; /* support: IE9+ */
          transition: border 0.2s ease-in-out;
          .material-icons {
            font-size: 18px;
          }
          .badge {
            $badge-size:     14px;

            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 0;
            right: 0;
            height: $badge-size;
            width: $badge-size;
            border-radius: $badge-size;
            font-size: 10px;
            font-weight: bold;
            margin: 0;
            background: #666;
            color: rgba(black, 0.87);
            &.danger {
              background: $brand-danger;
            }
            &.success {
              background: $brand-success;
            }
          }
        }
        &.active {
          // box-shadow: inset 1px 0 $theme-base;
          .avatar {
            // background-color: rgba($theme-base, 0.25);
            box-shadow: none;
            box-shadow: inset 0 0 0 2px rgba($theme-base, 0.87);
            color: $text-dark;
          }
        }
      }
      .divider {
        padding: $gutter-h * 0.5;
        hr {
          display: block;
          margin: 0;
        }
      }
    }
    .nav-item {
      $nav-item-size:     34px;

      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      font-size: 18px;
      color: rgba($theme-base, 0.38);
      &:hover {
        color: $text-dark;
        transition: color 0.15s ease-in-out;
      }
      &.active {
        color: $text-dark;
        > span {
          background: rgba($theme-base, 0.08);
        }
      }
      > span {  
        height: $nav-item-size;
        width: $nav-item-size;
        border-radius: $nav-item-size;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background 0.15s ease-in-out;
      }
      .material-icons {
        font-size: 24px;
      }
      &.account {
        margin-bottom: $gutter-h * 0.75;
      }
    }
    .avatar {
      // background: $brand-info;
      color: $theme-base;
      box-shadow: inset 0 0 0 1px rgba($theme-base, 0.1);
      color: $text-lighter;
      transition: color 0.2s ease-in-out;
      &:hover {
        color: $text;
      }
    }
    .add-workspace-button {
      .v--modal-box {
        height: auto;
      }
      .nav-item {
        .avatar {
          box-shadow: none;
          .material-icons {
            font-size: 24px;
          }
        }
      }
    }
  }
}
