
// Pinned
// ----------------------------------
.pinned {
  .list-group {
    .list-item {
      span.item-wrapper {
        display: flex;
        align-items: center;

      }
    }
    .list-item-btn {
      .actions {
        display: flex;
        .btn-fab {
          &.pinned {
            display: none;
          }
          &.unpin {
            display: inline-flex;
          }
        }
      }
    }
  }
}
.actions:not(.pinned) .btn-fab .unpin {
  display: none;
}
.table-list {
  .list-group {
    min-height: 105px;
    // height: 100%;

    .list-item {
      &:before {
        border-left: 0 !important;
      }
    }
    .list-item-btn {
      padding: 0;
      padding-right: $gutter-h * 0.5;
      .item-wrapper {
        overflow: hidden;
      }
    }
  }
  .empty {
    padding-top: $gutter-w;
    padding-bottom: $gutter-w;
  }
  &.pinned .list-item-btn .actions {
    margin-right: 0.3rem;
  }
}

.hidden-indicator {
  position: relative;
  z-index: 1;

  > .badge {
    display: flex;
    align-items: center;
    margin: 0 !important;

    .material-icons {
      font-size: 1rem;
      margin-right: 0.2rem;
    }
  }
}

.list-item {
  .item-wrapper {
    .table-item-wrapper {
        display: flex;
        align-items: center;
        height: auto;
      }
  }
}

.BksEntityList {
  flex-grow: 1;
  background-color: transparent;
  .pinned .list-group .list-item-btn .actions .btn-fab.pinned {
    display: inline-flex;
  }
  .list-group .list-item-btn .actions .btn-fab.pinned i.material-icons {
    display: unset;
  }
  .main-entity-list.list-group .list-item-btn .actions .btn-fab.pinned i.material-icons.unpin {
    display: none;
  }
}

.BksEntityList-modal-container {
  background-color: rgba(darken($theme-bg, 3%), 0.9);

  .dialog-content {
    background-color: lighten($theme-bg, 1%);
    color: $theme-base;
  }
}
