
// Pinned
// ----------------------------------
.pinned {
  .list-group {
    .list-item {
      span.item-wrapper {
        display: flex;
        align-items: center;
      }
    }
    .list-item-btn {
      .actions {
        display: flex;
        .btn-fab {
          &.pinned {
            display: none;
          }
          &.unpin {
            display: inline-flex;
          }
        }
      }
    }
  }
}
.table-list {
  .list-group {
    min-height: 105px;
    // height: 100%;

    .list-item {
      &:before {
        border-left: 0 !important;
      }
    }
    .list-item-btn {
      padding: 0;
      padding-right: $gutter-h * 0.5;
      .item-wrapper {
        overflow: hidden;
      }
    }
  }
  .list-body {
    padding-bottom: $gutter-w;
  }
  .empty {
    padding-top: $gutter-w;
    padding-bottom: $gutter-w;
  }
}

.hidden-indicator {
  position: relative;
  z-index: 1;

  &:hover .hi-tooltip {
    visibility: visible;
  }

  > .badge {
    display: flex;
    align-items: center;
    margin: 0 !important;

    .material-icons {
      font-size: 1rem;
      margin-right: 0.2rem;
    }
  }

  .hi-tooltip {
    $gap: 0.5rem;

    visibility: hidden;
    position: absolute;
    display: block !important;
    top: calc(100% + #{$gap});
    left: -5rem;
    width: 14rem;
    padding: $gutter-h $gutter-w !important;
    border-radius: 0.5rem;
    background-color: #4f4f4f;

    text-transform: none;
    font-weight: normal;
    font-size: 0.9rem;

    // acting as a "bridge" so the tooltip stays visible when the cursor is
    // in between the text and the tooltip
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: -$gap;
      width: 100%;
      height: $gap;
    }

    span, a {
      display: inline;
      color: #eee;
      line-height: 1.35rem;
    }

    a {
      border-bottom: 1px solid #dadada;
    }
  }
}
