.custom-theme .BksSqlTextEditor {
  --bks-text-editor-bg-color: #00ff00;
  --bks-text-editor-fg-color: #ff0000;
  --bks-text-editor-keyword-fg-color: #ff00ff;
  --bks-text-editor-string-fg-color: #00ffff;
  --bks-text-editor-number-fg-color: #ffff00;
  --bks-text-editor-comment-fg-color: #ff8800;
  --bks-text-editor-variable-fg-color: #8800ff;
  --bks-text-editor-property-fg-color: #ff0088;
  --bks-text-editor-bracket-fg-color: #88ff00;
  --bks-text-editor-selected-bg-color: rgba(255, 0, 0, 0.5);

  padding: 10px;
  font-family: "Comic Sans MS", cursive;
  border: 3px dashed #ff00ff;
}
