@import "~codemirror/theme/xq-light";
@import "./app/vendor/codemirror";


// Global
$badge-bg:                 rgba($theme-base, 0.1);
$theme-primary-dark:       darken($theme-primary, 15%);     

// Sidebar
$sidebar-list-icons:       $theme-primary-dark;

// Editor
$tabs-heading:             rgba($theme-base, 0.08);
$tab-link:                 darken($theme-bg, 8%);
$codemirror-hint-bg:       darken($theme-bg, 2%);

// Table Editing
$row-highlight:            darken($query-editor-bg, 3%);
$row-add:                  #56DAAC;
$row-delete:               #FC8A87;
$row-error:                #F9B8B7;

$cell-edited:              #EDDFA1;
$cell-error:               $row-error;
$cell-success:             $row-add;

// Statusbar
$editor-statusbar:         rgba($theme-base, 0.035);

@mixin cell-shadow {
  box-shadow: inset 1px 0 rgba(white, 0.4),
              inset 0 -1px rgba(white, 0.4);
}

// Base Styles
// -----------------------------------------
& {
  background: $theme-bg;
  color: $text;
}
.material-icons {
  font-weight: 600;
}
select {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8' fill='rgba(0,0,0, 0.87)'><polygon points='0,0 8,0 4,4'/></svg>") no-repeat scroll 98% 60% transparent !important;
}
::selection {
  background: rgba($brand-info, 0.25);
}
.btn {
  box-shadow: inset 0 0 0 1px rgba($theme-base, 0.035);
}
.btn-link, .btn-fab {
  box-shadow: none;
}
.btn-flat {
  background: rgba($theme-base, 0.08);
}
.text-primary {
  color: $theme-primary-dark!important;
}
.list-group {
  .list-item-btn {
    .actions {
      i {
        color: $text-light;
      }
      .btn-fab.pinned {
        i {
          color: $text-dark;
        }
      }
    }
  }
}
.badge {
  background: $badge-bg;
  color: $text-dark;
  &.badge-info {
    color: white;
  }
}
.text-danger {
  color: $brand-danger!important;
}
.connection-main {
  .card-flat {
    background: rgba($theme-base, 0.035);
  }
}

// File-Menu
// ---------------------------------------
.flyout-nav {
  > .menu-bar {
    .top-menu-item {
      > a {
        > .label {
          color: $text-light;
        }
      }
    }
  }
}

// Sidebar
// ---------------------------------------
.advanced-connection-settings {
  background: rgba($theme-base, 0.05);
}
#sidebar {
  position: relative;
  .filter {
    .filter-actions {
      x-button {
        &.btn-fab {
        margin-right: 2px;
        line-height: 22px;
        height: 22px;
        width: 22px;
        min-width: 22px;
        border-radius: 22px;
        border: 0;
        &.active {
          background: rgba($theme-base, 0.1);
          .material-icons {
            color: $brand-info;
          }
        }
      }

      }
    }
  }
}
.list-heading {
  .sub {
    .badge {
      &.active {
        color: $brand-info;
      }
    }
  }
}

.page-content {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: $tab-height;
    bottom: 0;
    left: 0;
    width: 1px;
    background: $border-color;
    z-index: 10;
  }
  .tabs-header {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: lighten($theme-base, 85%);
      z-index: 1;
    }
  }
}

// Editor
// ---------------------------------------
.core-tabs {
  .tabs-header {
    background: $tabs-bg;
  }
  .nav-tabs {
    .nav-link {
      background: $tab-link;
      // &.active {
      //   box-shadow: inset 0 1px $theme-primary;
      // }
      &.active {
        z-index: 10;
        background: white;
        box-shadow: inset 0 1px $border-color, 
                    inset 1px 0 $border-color, 
                    inset -1px 0 $border-color;
        .tab-action {
          background: linear-gradient(-90deg, white 80%, rgba(white, 0) 100%);
        }
      }
    }
    .tab-action {
      top: 1px;
      right: 1px;
      bottom: 1px;
      border-radius: 0 6px 0 0;
      background: linear-gradient(-90deg, $tab-link 80%, $tab-link 100%);
    }
    .tab-close {
      .material-icons {
        color: $text-lighter;
        &.close {
          color: $text-dark;
        }
      }
    }
  }
  .table-filter {
    .filter-group .select-wrap, 
    .filter input {
      background: rgba($theme-base, 0.08);
    }
  }
}

// Tabulator
// -------------------------------
.tabulator-table {
  .tabulator-row {
    &.inserted, 
    &.inserted:hover {
      background: $row-add;
    }
    &.deleted,
    &.deleted:hover {
      background: $row-delete;
    }
    &.edit-error {
      background: $row-error!important;
    }
    .tabulator-cell {
      &.edited,
      &.edit-error,
      &.edit-success {
        @include cell-shadow;
      }
      &.edited {
        background: $cell-edited;
        &:hover {
          background: darken($cell-edited, 5%);
        }
      }
      &.edit-error {
        background: $cell-error;
        &:hover {
          background: darken($cell-error, 5%);
        }
      }
      &.edit-success {
        background: $cell-success;
        &:hover {
          background: darken($cell-success, 5%);
        }
      }
      &.foreign-key-button {
        .material-icons {
          &:hover {
            color: $text-dark;
          }
        }
      }
    }
  }
}
.tabulator {
  .tabulator-header {
    background: $theme-bg;
    .tabulator-col {
      &.foreign-key {
        &:before {
          color: darken($brand-primary, 15%);
        }
      }
      .badge {
        color: $text-light;
      }
    }
  }
  .tabulator-tableHolder {
    background: white;
  }
}
.tabulator-row {
  &:nth-child(odd) {
    background: rgba($theme-base, 0.06);
  }
}
.table-builder .table-builder-wrap,
.table-properties .table-properties-wrap {
  .tabulator-row {
    &.tabulator-row-even,
    &:nth-child(odd) {
      background: rgba($theme-base, 0.08)!important;
    }
    &.inserted {
      background: $row-add!important;
    }
  }
}

// Schema Builder
// ----------------------------------
.schema-builder {

  // Schema Header
  .schema-header {
    .table-title {
      color: $text-light;
    }
  }

  // Tabulator Header Row
  .tabulator {
    .tabulator-header {
      .tabulator-col {
        .tabulator-col-content {
          .tabulator-col-title {
            color: $text-lighter;
          }
        }
      }
    }
  }

  // Field Rows
  .tabulator-row {
    &.tabulator-row-even,
    &:nth-child(odd) {
      background: rgba($theme-base, 0.05);
    }
    .tabulator-cell {
      color: $text-dark;
      &.tabulator-editing {
        box-shadow: inset 0 1px $theme-base;
      }
      &.no-edit-highlight {
        &.tabulator-editing {
          input {
            box-shadow: inset 0 0 0 2px rgba($theme-base,0.87);
            &[type="checkbox"]:active, 
            &[type="checkbox"]:checked, 
            &[type="checkbox"]:checked:active {
              background: $theme-base!important;
            }
          }
        }
        &.edited {
          input {
            &[type="checkbox"]:active, 
            &[type="checkbox"]:checked, 
            &[type="checkbox"]:checked:active {
              &:after {
                color: white!important;
              }
            }
          }
        }
        &.read-only {
          input {
            &[type="checkbox"]:active, 
            &[type="checkbox"]:checked, 
            &[type="checkbox"]:checked:active {
              &:after {
                color: $theme-primary-dark!important;
              }
            }
          }
        }
      }

      .material-icons.clear {
        color: $text-light;
        &:hover {
          color: $text-dark;
        }
      }

      // Remove Cell
      &.remove-btn {
        .material-icons {
          color: $text-lighter;
          &:hover {
            color: $text-dark;
          }
        }
      }
      .null-value {
        color: $text-lighter;
      }
    }
  }

  // Resize Handle
  .tabulator-row {
    .tabulator-frozen {
      &.tabulator-row-handle {
        .tabulator-row-handle-box {
          .tabulator-row-handle-bar {
            background: $border-color;
          }
        }
      }
    }
  }
  .tabulator-row {
    &.tabulator-moving {
      background: lighten($theme-bg, 15%)!important;
    }
  }
}


// CodeMirror
// ----------------------------------
.CodeMirror-hints {
  background: white!important;
  li {
    &.CodeMirror-hint-active {
      background: $brand-info;
      color: white;
    }
  }
}
.cm-s-monokai {
  span {
    .cm-string {
      color: darken($theme-primary, 25%);
    }
  }
}
.query-editor {
  .CodeMirror-code {
    .highlight {
      background-color: rgba($brand-info, 0.2);
    }
  }
}

// Noty
.noty_theme__mint.noty_type__success {
  color: darken($brand-success, 5%);
}

// Switch
x-switch {
  color: $theme-primary-dark;
}

// Table Properties
// -------------------------------
.table-properties {
  .nav-pills {
    .nav-pill {
      &.active {
        color: $theme-primary-dark;
        box-shadow: inset 0 -2px $theme-primary-dark;
      }
    }
  }
}