// Theme
// -----------------------------
$theme-bg:           #f8f8f8;
$theme-base:         black;
$theme-primary:      darken(#fad83b, 10%);
$theme-secondary:    #0099ff;

// Colors
// -----------------------------
$text-dark:          rgba($theme-base, 0.87);
$text:               rgba($theme-base, 0.67);
$text-light:         rgba($theme-base, 0.57);
$text-lighter:       rgba($theme-base, 0.37);
$text-hint:          rgba($theme-base, 0.37);
$text-disabled:      rgba($theme-base, 0.37);

$brand-info:         #3498db;
$brand-success:      #15db95;
$brand-warning:      #ff8d21;
$brand-danger:       #ff5d59;
$brand-default:      rgba($theme-base, 0.57);
$brand-purple:       #9858ff;
$brand-pink:         #ff00f0;
$brand-primary:      $theme-primary;
$brand-secondary:    $theme-secondary;

// App
$border-color:              rgba($theme-base, 0.15);
$link-color:                $text-dark;
$placeholder:               $text-hint;
$selection:                 rgba($theme-primary, 0.2);
$input-highlight:           rgba($theme-base, 0.27);

$db-select-text:            white;
$query-editor-bg:           white;

$titlebar-bg:               transparent;
$global-sidebar-bg:         transparent;
$sidebar-bg:                darken($theme-bg, 3%);
$sidebar-heading-bg:        $theme-bg;
$tabs-bg:                   transparent;
$statusbar-bg:              rgba($theme-base, 0.1);
// $statusbar-bg:             rgba($theme-primary, 0.4);
$statusbar-text:            $theme-base;
