@use "sass:color";
// Theme
// -----------------------------
$theme-bg:           #f6f8fa;
$theme-base:         black;
$theme-primary:      #e5a00d;
$theme-secondary:    #0284c7;

// Colors
// -----------------------------
$text-dark:          rgba($theme-base, 0.88);
$text:               rgba($theme-base, 0.68);
$text-light:         rgba($theme-base, 0.52);
$text-lighter:       rgba($theme-base, 0.38);
$text-hint:          rgba($theme-base, 0.38);
$text-disabled:      rgba($theme-base, 0.38);

$brand-info:         #0284c7;
$brand-success:      #16a34a;
$brand-warning:      #d97706;
$brand-danger:       #ef4444;
$brand-default:      rgba($theme-base, 0.52);
$brand-purple:       #9333ea;
$brand-pink:         #db2777;
$brand-primary:      $theme-primary;
$brand-secondary:    $theme-secondary;

// App
$border-color:              rgba($theme-base, 0.09);
$link-color:                $text-dark;
$placeholder:               $text-hint;
$selection:                 rgba(59, 130, 246, 0.18);
$input-highlight:           rgba($theme-base, 0.16);

$db-select-text:            $text-dark;
$query-editor-bg:           #ffffff;
$row-handle-selected:       #e2e8f0;
$row-handle-hover:          #f1f5f9;

$titlebar-bg:               transparent;
$global-sidebar-bg:         #eaedf1;
$sidebar-bg:                #f6f8fa;
$sidebar-heading-bg:        #eaedf1;
$tabs-bg:                   #eaedf1;
$statusbar-bg:              #f1f3f6;
$statusbar-text:            $text-dark;
$statusbar-text-default:    $text-dark;

$grouped-tables-base:       #f1f3f6;
$grouped-tables-light:      #e5e7eb;
