{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "generator-star-spacing": 0,
    "no-use-before-define": 0,
    "no-param-reassign": 0,
    "arrow-parens": 0,
    "array-bracket-spacing": 0,
    "consistent-return": 0,
    "max-len": 0,
    "no-underscore-dangle": 0,
    "quote-props": 0,
    "array-callback-return": 0,
    "no-bitwise": 0,
    "quotes": 0,
    "prefer-template": 0,
    "no-tabs": 0,
    "space-before-function-paren": 0,
    "arrow-body-style": 0,
    "arrow-spacing": 0,
    "space-in-parens": 0,
    "object-curly-spacing": 0,
    "no-useless-escape": 0,
    "import/no-extraneous-dependencies": 0,
    "require-yield": 0,
    "object-shorthand": 0,
    "prefer-arrow-callback": 0,
    "import/prefer-default-export": 0,
    "no-unneeded-ternary": 0,
    "import/newline-after-import": 0
  }
}
