{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "mocha": true
  },
  "plugins": [
    "babel"
  ],
  "rules": {
    "generator-star-spacing": 0,
    "babel/generator-star-spacing": 1,

    "no-use-before-define": 0,

    "arrow-parens": 0,
    "babel/arrow-parens": 2,

    "consistent-return": 0,

    "no-bitwise": ["error", { "allow": ["~"] }],
    "import/no-extraneous-dependencies": [
      "error", {
      "devDependencies": true,
      "optionalDependencies": true,
      "peerDependencies": false
    }],

    "import/prefer-default-export": 0
  }
}
