.turbo/
.idea/
.cache/
.vscode/
./data/
node_modules/
dist/
site/
tmp/
temp/
test.db
*.sqlite
dist_electron/
docs/.vuepress/dist/
.DS_Store
yarn-error.log
.history
.package-lock.json
.secrets
.env
.instant/
cli.zip
apps/studio/test-results
*.db
*.log
*.orig
