public-hoist-pattern[]='*types*'
public-hoist-pattern[]='*eslint*'
public-hoist-pattern[]='@prettier/plugin-*'
public-hoist-pattern[]='*prettier-plugin-*'
public-hoist-pattern[]="ts-loader*"
public-hoist-pattern[]="babel-loader*"
shamefully-hoist=true