site_name: Beekeeper Studio Documentation
site_url: https://docs.beekeeperstudio.io
site_description: Beekeeper Studio user documentation - how to install, configure, and use Beekeeper Studio
copyright: Copyright &copy; Beekeeper Studio, Inc
repo_url: https://github.com/beekeeper-studio/beekeeper-studio
repo_name: beekeeper-studio
edit_uri: edit/master/docs
extra:
  social:
    - icon: fontawesome/brands/x-twitter
      link: https://twitter.com/beekeeperdata
      name: Beekeeper on X (Twitter)
    - icon: fontawesome/brands/github
      link: https://github.com/beekeeper-studio/beekeeper-studio
      name: Beekeeper Studio on GitHub
  generator: false
theme:
  logo: assets/bks.svg
  favicon: assets/favicon-96x96.png
  name: material
  icon:
    repo: fontawesome/brands/github
  font:
    text: Rubik
  features:
    - navigation.instant
    # - navigation.tabs
    - navigation.tabs.sticky
    - navigation.tracking
    # - navigation.sections
    - navigation.footer
    - navigation.top
    - navigation.tabs
    - search.suggest
    - search.highlight
    - content.action.edit
    - content.action.view
    - content.code.copy
    - content.tooltips

  palette:
    scheme: slate
    primary: custom
    accent: custom

extra_css:
  - stylesheets/extra.css
extra_javascript:
  - javascript/extra.js
plugins:
  - search
  - include-markdown
#  - social:
#      cards_layout_options:
#        background_color: "#2c2c2c"
#        color: "#ffffff"
#        font_family: Rubik
  - ini-includer:
      base_path: ../apps/studio
      config_file: default.config.ini
markdown_extensions:
  - pymdownx.tasklist:
      custom_checkbox: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - tables
  - abbr
  - attr_list
  - md_in_html
  - nl2br
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

nav:
  - Introduction:
    - index.md
    - getting-started-guide.md
  - Installation:
    - installation/index.md
    - installation/windows.md
    - installation/macos-m1-intel.md
    - installation/linux.md
  - Connecting To A Database:
    - user_guide/connecting/supported-databases.md
    - Connection Options: user_guide/connecting/connecting.md
    - user_guide/connecting/amazon-rds.md
    - ClickHouse: user_guide/connecting/clickhouse.md
    - user_guide/connecting/duckdb.md
    - user_guide/connecting/firebird.md
    - user_guide/connecting/google-bigquery.md
    - user_guide/connecting/mongodb.md
    - user_guide/connecting/oracle-database.md
    - SQLite: user_guide/connecting/sqlite.md
    - Trino: user_guide/connecting/trino.md
    - user_guide/connecting/surrealdb.md

  - Features:
    - user_guide/sql_editor/editor.md
    - user_guide/sql-query-formatter.md
    - user_guide/sql_editor/manual-transaction-management.md
    - user_guide/sql-ai-shell.md
    - user_guide/editing-data.md
    - user_guide/modify-tables.md
    - user_guide/sql_editor/saving_queries.md
    - user_guide/json-sidebar.md
    - user_guide/query-magics.md
    - Data Import: user_guide/importing-data-csv-json-etc.md
    - user_guide/data-export.md
    - Diagrams: user_guide/entity-relationship-diagrams-erd.md
    - user_guide/backup-restore.md
    - Cloud Workspaces: user_guide/cloud-storage-team-workspaces.md
    - user_guide/security.md
    - Plugins: user_guide/plugins.md
    - Configuration: user_guide/configuration.md
  # - Plugin Development:
  #   - Introduction: plugin_development/index.md
  #   - Creating your first plugin: plugin_development/creating-your-first-plugin.md
  #   - Plugin Views: plugin_development/plugin-views.md
  #   - Manifest Reference: plugin_development/manifest.md
  #   - API Reference: plugin_development/api-reference.md
  #   - Publishing: plugin_development/publishing-plugins.md
  - Support:
    - purchasing/purchasing-a-license.md
    - purchasing/license-types.md
    - Upgrading: support/upgrading-from-the-community-edition.md
    - support/subscription-management.md
    - support/contact-support.md
    - support/open-source.md
    - support/troubleshooting.md
    - support/data-location.md
