.statusbar {
  display: flex;
  align-items: center;
  background: $statusbar-bg;
  color: rgba($statusbar-text, 0.87);
  min-height: $statusbar-height;
  height: $statusbar-height;
  line-height: $statusbar-height *0.8;
  font-size: 0.8rem;
  padding: 0 $gutter-h;
  overflow: hidden;
  > .col {
    display: flex;
    align-items: center;
  }
  .badge {
    border-radius: 1.8rem;
  }
  .btn {
    &.error, &.error:hover {
      pointer-events: all !important;
    }
  }
  a {
    color: $statusbar-text;
  }
  span.row {
    .material-icons {
      font-size: 16px;
      margin-right: $gutter-h * 0.5;
    }
  }
  &.tabulator-footer {
    .tabulator-page {
      color: $statusbar-text;
      &.active {
        background: rgba($statusbar-text, 0.15);
      }
    }
  }

  // No Data
  // -----------------------
  .empty {
    padding: 0 $gutter-h;
  }


  // Row Actions
  // -------------------------
  .connection-button > .btn {
    &:hover {
      background: rgba(white, 0.1);
    }
  }


  .connection-button > .btn, 
  .statusbar-actions .btn {
    box-shadow: none!important;
    background: transparent;
    color: $statusbar-text;
    height: $statusbar-height * 0.8;
    line-height: $statusbar-height * 0.8;
    min-width: 0;
    margin: 0 0.15rem;
    margin-top: -1px;
    padding: 0 0.35rem;
    --ripple-background: none;
    border-radius: $btn-border-radius-small;
    transition: background 0.15s ease-in-out;
    .material-icons {
      width: 16px;
    }
  }

  .statusbar-actions {
    .btn {
      padding: 0 0.6rem;
      background: transparent;
      &:hover[expanded] {
        background: rgba($statusbar-text, 0.15);
      }
      .material-icons {
        font-size: 16px;
      }
      &.actions-btn {
        padding: 0 0.35rem;
        .material-icons {
          width: 13px;
        }
      }
    }
  }
  
  .download-results,
  .pending-changes {
    background: rgba($statusbar-text, 0.35);
    box-shadow: inset 0 0 0 1px rgba($statusbar-text, 0.05);
    border-radius: 6px;
    overflow: hidden;
    > .btn {
      background: transparent;
      color: $statusbar-text-default;
      border-radius: 0!important;
      &:hover, &:hover[expanded] {
        background: rgba($statusbar-text, 0.05);
      }
      .material-icons {
        color: $statusbar-text-default;
        margin-right: $gutter-h * 0.5;
      }
    }
  }

  // Download Results
  .download-results {
    border-radius: $btn-border-radius-small;
    overflow: hidden;
    > .btn {
      margin: 0;
      border-radius: 0;
      &[menu] {
        border-left: 1px solid rgba(black, 0.35);
      }
    }
    .material-icons {
      color: $text-dark;
      font-size: 20px;
    }
  }

  // Pending Changes
  .pending-changes {
    margin-left: 0.1rem;
    > .btn {
      margin: 0;
    }
    .badge {
      background: transparent;
      padding: 0;
      font-size: 14px;
      min-width: 10px;
      line-height: 16px;
      margin-left: 0;
      text-align: left;
      color: $statusbar-text-default;
    }
    .material-icons {
      font-size: 14px;
      overflow: visible;
      line-height: 1.1;
    }
  }

  // Results Select
  // -------------------------
  .result-selector {
    margin-left: -$gutter-h * 0.5;
  }
  .select-wrap {
    background: rgba($statusbar-text, 0.35);
    box-shadow: inset 0 0 0 1px rgba($statusbar-text, 0.05);
    border-radius: 6px;
    &:after {
      width: 0; 
      height: 0; 
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid $statusbar-text-default;
      position: absolute;
      top: 40%;
      right: 7px;
      content: "";
      z-index: 98;
    }
    &:hover {
      background: rgba($statusbar-text, 0.4);
    }
    select {
      color: $statusbar-text-default;
      height: $statusbar-height * 0.8;
      line-height: $statusbar-height * 0.8;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      option {
        color: $text;
      }
    }
  }

  // Query Status
  // ----------------------------
  .statusbar-item {
    display: inline-flex;
    align-items: center;
    padding: 0 $gutter-h;
    line-height: $statusbar-height;
    overflow: hidden;
    text-overflow:ellipsis;
    .material-icons {
      font-size: 16px;
      line-height: $statusbar-height;
      margin-right: 0.25rem;
      // opacity: 0.65;
      width: 16px;
    }
    &.error {
      color: $statusbar-text;
      font-size: 0.75rem;
      padding-right: 2rem;
      .material-icons {
        color: $statusbar-text;
      }
      > span {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
  .row-counts {
    .truncated-rows, .records {
      margin-left: $gutter-h * 0.5;
    }
  }
  .statusbar-info {
    min-width: 33.3333%;
  }

  // Connection Status
  // ---------------------------
  .connection-button,
  .connection-button > .btn {
    height: $statusbar-height;
    line-height: $statusbar-height;
    margin: -$gutter-h;
    padding: 0 $gutter-h;
    flex: 1 1 100%;
    justify-content: flex-start;
    overflow: hidden;
  }
  .connection-name {
    font-size: 0.85rem;
  }
  .connection-button {
    position: relative;
    .material-icons {
      font-size: 20px;
      min-width: 32px;
      text-align: center;
    }
    > .btn {
      text-align: left;
      border-radius: 0;
      --trigger-effect: none;
    }
    x-menu {
      width: 220px;
    }
    .badge {
      font-size: 100%;
      min-width: fit-content;
      background: transparent;
      color: rgba(black, 0.87);
    }
  }

}
