// Fonts
$material-icons-font-path: 'material-icons/iconfont/';
$font-family:        system-ui,
             -apple-system, BlinkMacSystemFont,
             "Segoe UI",
             "Roboto",
             "Oxygen",
             "Ubuntu",
             "Cantarell",
             "Fira Sans",
             "Droid Sans",
             "Helvetica Neue",
             Arial, sans-serif;
$font-family-mono:   ui-monospace,
             Menlo, Monaco,
             "Cascadia Mono", "Segoe UI Mono",
             "Roboto Mono",
             "Oxygen Mono",
             "Ubuntu Mono",
             "Source Code Pro",
             "Fira Mono",
             "Droid Sans Mono",
             "Consolas", "Courier New", monospace;
$base-font-size:      0.875rem; // ~14px
$form-control-font-size: 0.831rem; // ~13.3px

@import 'material-icons/iconfont/material-icons.scss';
@import "./vendor/custom-icons.scss";

*, *:after, *:before {
  box-sizing: border-box;
}
:root {
  --font-size: #{$base-font-size};
  --font-family: #{$font-family};
  --font-family-mono: #{$font-family-mono};
  font-size: var(--font-size);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  -webkit-user-select: none;
}
body {
  font-size: 1rem;
}
.material-icons {
  transform: rotate(0.03deg);
}
