
.card-shadow {
  box-shadow: var(--panel-shadow);
  transition: box-shadow 0.28s ease-in-out;
}
.card-shadow-hover {
  box-shadow: var(--panel-shadow);
}
.dropdown-shadow {
  box-shadow: var(--panel-shadow)!important;
}