@mixin layout-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin card-shadow-hover {
  box-shadow: 0 0 0 1px rgba(black, 0.06),
    0 1px 2px rgba(black, 0.08),
    0 6px 15px rgba(black, 0.12);
}


@mixin card-shadow {
  box-shadow: 0 0 0 1px rgba(black, 0.06),
    0 1px 3px 0 rgba(black, 0.12),
    0 2px 1px -1px rgba(black, 0.08);
  transition: box-shadow 0.28s ease-in-out;
}

@mixin dropdown-shadow {
  box-shadow: 0 1px 4px rgba(black, 0.37) !important;
}


@mixin btn {
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  line-height: $input-height;
  height: $input-height;
  font-weight: 700;
  outline: 0;
  border: 0;
  padding: 0 1rem;
  min-width: 88px;
  box-shadow: inset 0 0 0 1px rgba(white, 0.025);
  border-radius: $btn-border-radius;
  transition: background 0.15s ease-in-out,
    color 0.15s ease-in-out;
  justify-content: center;
  text-align: center;
  cursor: pointer;

  &:hover,
  &:focus {
    font-weight: 700;
    outline: 0;
    border: 0;
    box-shadow: none;
  }

  &.btn-icon {
    display: flex;
    align-items: center;

    i {
      font-size: 1rem;
      margin-left: -3px;
    }
  }
}


