@each $hue in $hues {
  .connection-label-color-#{'#{$hue}'} {
    --connection-label-color: var(--#{$hue}-solid-bg-a);
  }
}

.connection-label {
  display: inline-flex;
  background-color: transparent;
  height: 30px;
  min-width: 3px;
  width: 3px;
  border-radius: 3px;
  margin-right: $gutter-w * 0.85;
  background: var(--bg-a);

  @each $hue in $hues {
    &.connection-label-color-#{'#{$hue}'} {
      background-color: var(--#{$hue}-solid-bg-a);
      &:checked {
        background-color: var(--#{$hue}-solid-bg-a);
      }
    }
  }
}
.connection-button {
  @each $hue in $hues {
    &.#{'#{$hue}'} {
      background-color: var(--#{$hue}-solid-bg-a);
      color: var(--#{$hue}-solid-fg);
    }
  }
}

.statusbar {
  @each $hue in $hues {
    &.#{'#{$hue}'} {
      --statusbar-bg: rgb(from var(--#{$hue}-solid-bg-a) r g b / 0.85);
      --statusbar-fg: var(--#{$hue}-solid-fg);
      --statusbar-fg-inverse: hsl(from var(--#{$hue}-solid-fg) 0 0% calc(100 - l));
    }
  }
  &.editing, &.failure {
    @each $hue in $hues {
      &.#{'#{$hue}'} {
        --statusbar-bg: rgb(from var(--#{$hue}-solid-bg-a) r g b / 0.8);
      }
    }
  }
}

input[type="radio"].connection-label {
  box-shadow: none;
  margin: 0 0 0 ($gutter-h * 0.75);
  border-radius: 50%;
  &:checked {
    outline: 2px solid var(--text);
    outline-offset: -2px;
  }
  &:focus {
    outline-offset: -2px !important; // using !important because the browser style does. why browser...
  }
  &.connection-label-color-default {
    outline: 1px solid var(--border-a);
    outline-offset: -1px;
    &:checked {
      background-color: transparent;
      outline-width: 2px;
      outline-offset: -2px;
    }
  }
}
