$color-defaults: (
  red:          $brand-danger,
  orange:       $brand-warning,
  yellow:       $brand-primary,
  green:        $brand-success,
  blue:         $brand-info,
  purple:       $brand-purple,
  pink:         $brand-pink,
);

@each $key, $val in $color-defaults {
  .connection-label-color-#{'#{$key}'} {
    --connection-label-color: #{nth($val, 1)};
  }
}

.connection-label {
  display: inline-flex;
  background-color: transparent;
  height: 30px;
  min-width: 3px;
  width: 3px;
  border-radius: 3px;
  margin-right: $gutter-w * 0.85;
  background-color: rgba($theme-base, 0.08);

  @each $key, $val in $color-defaults {
    &.connection-label-color-#{'#{$key}'} {
      background-color: nth($val, 1);
      &:checked {
        background-color: nth($val, 1);
      }
    }
  }
}
.statusbar {
  @each $key, $val in $color-defaults {
    &.#{'#{$key}'} {
      background-color: rgba(nth($val, 1), 1);
    }
  }
  &.query-meta {
    @each $key, $val in $color-defaults {
      &.#{'#{$key}'} {
        background-color: rgba(nth($val, 1), 0.85);
      }
    }
  }
  &.editing, &.failure {
    @each $key, $val in $color-defaults {
      &.#{'#{$key}'} {
        background-color: rgba(nth($val, 1), 0.8);
      }
    }
  }
}
.core-tabs {
  .statusbar {
    @each $key, $val in $color-defaults {
      &.#{'#{$key}'} {
        background-color: rgba(nth($val, 1), 0.85);
      }
    }
  }
}

input[type="radio"].connection-label {
  box-shadow: none;
  margin: 0 0 0 ($gutter-h * 0.75);
  border-radius: 50%;
  &:checked {
    box-shadow: inset 0 0 0 2px $text-dark;
  }
  &.connection-label-color-default {
    box-shadow: inset 0 0 0 1px rgba($theme-base, 0.2);
    &:checked {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $text-dark;
    }
  }
}
