@use "sass:color";

.core-tabs {
  position: relative;
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;

  .btn-upgrade {
    margin-right: 0.8rem;
    margin-left: auto;
  }

  .tab-content, .tab-pane {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: $query-editor-bg;
  }
  .tab-pane {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $query-editor-bg;
    &.active {
      display: flex;
      z-index: 1;
    }
  }
  .tabs-header {
    display: flex;
    align-items: center;
    background: $tabs-bg;

    .add-tab-group {
      transition: all 0.2s ease-in-out;
      border: 1px solid transparent;
      border-radius: 9999px;
      display: flex;

      &:has(.add-tab-dropdown:hover) {
        border-color: var(--border-color);
      }

      .btn-fab > i {
        font-size: 1.145rem;
      }
    }
    // -webkit-app-region: drag;
    .add-query {
      i {
        transition: all 0.2s ease-in-out;
      }
      &:hover {
        i {
          color: $text-dark;
        }
      }
    }
  }
  .nav-tabs {
    position: relative;
    overflow: hidden;
    flex-wrap: nowrap;
    margin: 0;
    height: $tab-height;
    -webkit-app-region: no-drag;
    .nav-item-wrap {
      min-width: 28px;
      overflow: hidden;
    }
    .nav-item-wrap-chosen {
      /* background: color.adjust($theme-bg, $lightness: 3%); */
      opacity: 0.5;
    }
    .nav-item {
      max-width: 200px;
      min-width: 28px;
      overflow: hidden;
    }
    .nav-link {
      position: relative;
      display: flex;
      align-items: center;
      background: color.adjust($theme-bg, $lightness: 3%);
      padding: 0;
      height: $tab-height;
      line-height: $tab-height * 0.9;
      font-size: 0.85rem;
      font-weight: normal;
      color: $text;
      border: 0;
      border-radius: 6px 6px 0 0;
      border-right: 1px solid $theme-bg;
      overflow: hidden;
      &.active {
        background: $query-editor-bg;
        font-weight: 600;
        color: $text-dark;
        box-shadow: none;
        &:hover {
          background: $query-editor-bg;
        }
        .tab-action {
          background: linear-gradient(-90deg, rgba($query-editor-bg, 100%) 80%, rgba($query-editor-bg, 0) 100%);
        }
        .tab-close {
          .close {
            display: inline-block;
          }

        }
      }
      &.active-transaction {
        .tab-title,
        .item-icon {
          color: var(--brand-warning);
        }

        &:not(.active) {
          background-color: color-mix(
            in srgb,
            var(--brand-warning) 20%,
            hsl(from var(--theme-bg) h s calc(l + 3)));

          .tab-action {
            background: transparent;

            .tab-close .material-icons {
              color: var(--brand-warning);
            }
          }
        }
      }
      &:hover {
        .tab-close {
          .close {
            display: inline-block;
          }

          .unsaved {
            display: inline-block;
          }
          &:hover {
            .unsaved-icon {
              display: none;
            }
            .close {
              display: inline-block;
            }
          }
        }
      }
    }
    .tab-title {
      text-overflow: initial;
      padding-right: 28px;
      &:before {
        display: block;
        content: attr(title);
        font-weight: 600!important;
        height: 0;
        overflow: hidden;
        visibility: hidden;
      }
      .tab-title-scope {
        position: relative;
        color: $text-lighter;
        font-size: 95%;
        font-style: italic;
        font-weight: normal!important;
      }
    }
    .item-icon {
      display: inline-block;
      font-size: 15px;
      padding-left: ($gutter-h * 1.5);
      padding-right: $gutter-h;
      max-width: $gutter-w * 2.8;
      min-width: $gutter-w * 2.6;
    }
    .tab-action {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      min-width: 28px;
      background: linear-gradient(-90deg, rgba(color.adjust($theme-bg, $lightness: 3%), 100%) 80%, rgba(color.adjust($theme-bg, $lightness: 3%), 0) 100%);
    }
    .tab-close {
      position: absolute;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 24px;

      .close {
        display: none;
      }

      .unsaved {
        display: inline-block;
      }
      .material-icons {
        position: absolute;

        font-size: 12px;
        font-weight: bold;
        color: $text;
        transition: none;
      }
      &.unsaved {
        .unsaved-icon {
          display: inline-block;
        }
      }
    }
  }
  .actions {
    margin: 0 $gutter-h;
    display: flex;
    flex-direction: row;
    -webkit-app-region: no-drag;
  }
}

.vue-dialog.sure {
  .v--modal-box {
    max-width: 375px;
  }
  .btn {
    font-weight: 400;

    // &:focus {
    //   font-weight: 800;
    //   border: $theme-primary solid 2px;
    //   line-height: 22px;
    // }
  }

  .tab-like {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    line-height: 2rem ;
    background-color: rgba($theme-base, 0.1);
    padding-left: 7px;
    padding-right: 7px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 1.1rem;
    border-radius: 5px 5px 0 0;
    .material-icons {
      font-size: 12px;
      padding: 0;
      min-width: 0;

    }
  }
}
.no-content {
  padding-left: 5px;
  padding-right: 5px;
}

.tabcontent {
  width: 100%;
  padding-bottom: $statusbar-height;

  .statusbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .btn-fab {
    .material-icons, .material-icons-outlined {
      font-size: 16px;
    }
  }
}
.table-filter {
  width: 100%;
  position: relative;
  .filter-group {
    padding: $gutter-h;
    margin-left: -($gutter-h * 0.5);
    margin-right: -($gutter-h * 0.5);
    flex-wrap: nowrap;
    > * {
      display: inline-flex;
      padding-left: ($gutter-h * 0.5);
      padding-right: ($gutter-h * 0.5);
      margin: 0;
    }
    // Show arrows and clear button on hover
    .filter-container:not(:hover) {
      .select-wrap select {
        background: none !important;
      }
      .filter-wrap .clear.btn-link {
        visibility: hidden;
      }
    }
    .select-wrap {
      padding-right: $gutter-h;
      border-radius: $input-radius;
      overflow: hidden;
      width: 100%;
      box-shadow: none;
      border: 0;
      background: rgba($theme-base, 0.05);
      transition: background 0.15s ease-in-out;
      cursor: pointer;
      &:hover {
        background: rgba($theme-base, 0.05);
      }
      > select {
        border: 0;
        padding-right: 1.25rem;
        min-width: 120px;
      }
    }
    .btn-primary {
      // background: $text-dark;
      &:hover,
      &:focus {
        // background: lighten($text-dark, 10%);
        background: color.adjust($theme-primary, $lightness: 10%);
      }
      .material-icons, .material-icons-outlined {
        color: rgba(black, 0.87);
        font-weight: bold;
      }
    }
    @media (max-width: 850px) {
      flex-wrap: nowrap;
      .select-wrap {
        > select {
          min-width: 30px;
        }
      }
    }
  }
  .filter {
    position: relative;
    .filter-wrap {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
    }
    input {
      background: rgba($theme-base, 0.05);
      padding-right: 26px;
      box-shadow: none;
      border: 0;
      // border-radius: 0;
      // border-bottom: 1px solid $border-color;
      &:focus {
        box-shadow: inset 0 0 0 1px rgba($theme-base, 0.25);
      }
    }
    .disabled-input {
      opacity: 0.5;
    }
    .clear {
      position: absolute;
      right: 0;
      display: flex;
      align-items: center;
      background: transparent;
      color: rgba($theme-base, 0.5);
      outline: none;
      border: 0;
      padding: 0;
      cursor: pointer;
      &:hover {
        color: $text-dark;
      }
      i {
        font-size: 16px;
        width: 26px;
      }
    }
  }
  .filter-drag-icon {
    position: absolute;
    display: flex;
    visibility: hidden;
    bottom: 0;
    right: 0;
    pointer-events: none;
    color: rgba($theme-base, 0.5);
    transform: scaleX(1.2) translateX(0.07rem);
    & > i { font-size: 1rem; }
  }
  form {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 202px;
    &.resizable {
      resize: vertical;
      &::-webkit-resizer { background-color: transparent; }
      & ~ .filter-drag-icon { visibility: visible; }
    }
    &.filter-outside-viewport {
      .filter-add-apply {
        z-index: 99;
        position: absolute;
        top: 0;
        right: 4.75rem;
        & .fixed {
          position: fixed;
          padding-top: 0.4rem;
          background-color: $query-editor-bg;
        }
      }
      .ghost-add-apply {
        display: inline-flex;
      }
    }
    .filter-add-apply > *, .ghost-add-apply {
      display: flex;
      gap: 0.4rem;
      flex-wrap: nowrap;
    }
    // Used for adding empty space when the actions are floating
    .ghost-add-apply {
      display: none;
      visibility: hidden;
    }
    .left-section, .middle-section, .right-section {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    .left-section {
      padding-left: 0.45rem;
      padding-right: 0.25rem;
    }
    .multiple-filter  {
      flex-grow: 1;
      & > * {
        display: flex;
        gap: 0.4rem;
        div.select-wrap {
          width: initial;
        }
      }
    }
    .op-filter, .add-filter > button, .remove-filter {
      font-family: inherit;
      font-weight: 700;
      font-size: 0.75rem;
      opacity: 0.75;
      &:not(:hover) {
        background-color: transparent;
      }
    }
  }
}

.filter-modal {

  .modal-form {
    margin-top: 0.25rem;
  }

  .search-wrapper {
    position: relative;

    input {
      padding-right: 26px !important;
    }

    .clear {
      position: absolute;
      right: 0;
      top: 56%;
      transform: translate(0, -50%);
      opacity: 0.5;
      outline: none;
      border: 0;
      padding: 0;
      cursor: pointer;

      i {
        font-size: 16px;
        width: 26px;
      }
    }
  }

  .list-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    margin-top: 0.5rem;
    padding-right: 0.5rem;
    font-size: 13px;
  }

  .list-container {
    flex-grow: 0;
    overflow-y: auto;
  }

  .no-matching-results {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .list-item {
    display: flex;
    align-items: center;

    .checkbox-group {
      padding: 0.5rem;
      &:hover {
        background: rgba($theme-base, 0.035);
      }

      span.input-wrapper {
        display: inline-flex;
        font-size: inherit;
        align-items: center;
      }

      span.datatype {
        display: inline-flex;
        align-items: center;
        opacity: 0.5;
      }
    }
  }

  .all-label {
    font-style: italic
  }

  .no-matching-results,
  .all-label {
    opacity: 0.5;
  }
}

.beekeeper-studio-minimal-mode {
  .core-tabs .nav-tabs .nav-link.active {
    font-weight: inherit;
  }
}

.tab-upsell-wrapper {
  padding: 0rem 2rem 2rem;
}
