

// App Layout
// -----------------------------
.beekeeper-studio-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

// Interface
// -----------------------------
.page-content {
  width: 100%;
  overflow: hidden;
}
.interface {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: $gutter-h;
  .interface-wrap {
    display: flex;
    flex-wrap: nowrap;
    flex: 1 1 100%;
  }
  .sidebar {
    width: $sidebar-w;
    // min-width: $sidebar-min-w;
    max-width: $sidebar-max-w;
  }
  .page-content {
    flex: 1 1 auto;
    min-width: 350px;
    z-index: 1;
  }
}
