.query-editor {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: $query-editor-bg;
  .editor {
    width: 100%;
    height: 400px;
    box-shadow: none;
    border: 0;
    outline: none;
  }
  .CodeMirror-code {
    .highlight {
      font-weight: bold;
      background-color: inherit;
      // background-color: rgba($theme-base, 0.2);
    }

    .error {
      border-bottom: solid 1px $brand-danger;
    }
  }
  .top-panel, .bottom-panel {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 200px;
  }
  .bottom-panel {
    > .layout-center {
      overflow: hidden;
    }
  }

  .not-supported {
    position: absolute;
    z-index: 10;
    inset: 0;
    top: var(--header-title-height);
    backdrop-filter: blur(6px);
    background-color: rgba($theme-bg, 0.5);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    .title {
      display: flex;
      flex-direction: row;
      font-weight: 700;
      align-items: center;
      i.material-icons {
        margin-right: 0.5rem;
      }
    }

    .body {
      line-height: 1.25;
    }
  }


  .toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: $query-editor-bg;
    padding: $gutter-h $gutter-w;
    z-index: 1;
    .title {
      line-height: 1;
    }
    .actions {
      display: flex;
      align-items: center;
      padding: 0;
    }
    .btn-fab {
      i {
        line-height: 26px;
        font-size: 18px;
      }
    }
   
  }
  .top-panel {
    .toolbar {
      box-shadow: inset 0 -1px $border-color;
    }
  }
  .bottom-panel {
    > .layout-center {
      overflow: hidden;
    }
    .toolbar {
      padding-top: $gutter-h * 0.5;
      padding-bottom: $gutter-h * 0.5;
      padding-left: ($gutter-h * 1.5);
      background: lighten($query-editor-bg, 1%);
    }
    .result-table {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      overflow: hidden;
      .tabulator-cell {
        cursor: default;
      }
    }
    .not-run-yet {
      padding: 0.5rem 0.75rem;
    }
    .message {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1 1 100%;
      padding: 0 $gutter-w;
      background: transparent;
    }
    .alert {
      // background: transparent;
      max-width: 70%;
      margin: 0 auto;
    }

  }

  .CodeMirror {
    padding-bottom: 0.25rem;
  }

  .CodeMirror-linenumbers {
    width: 1.57rem;
    margin-right: 0.67rem;
  }

  .statusbar {
    .statusbar-right-actions {
      flex-basis: auto;
    }
    .btn.btn-flat .material-icons {
      font-size: 16px;
    }
  }

  .dry-run-btn {
    gap: 0.35rem;

    input[type=checkbox] {
      margin: 0;
    }
  }
}

// Shortcut
// -------------------
.shortcuts {
  display: table;
}
.shortcut-item {
  display: table-row;
  color: $text-lighter;
  text-align: right;
  font-size: 95%;
  > div {
    display: table-cell;
    padding: $gutter-h;
  }
  .new {
    margin-right: $gutter-h;
  }
}
.shortcut {
  text-align: left;
  & > span {
    display: inline-block;
    padding: 0 0.35rem;
    border-radius: 4px;
    font-size: 90%;
    font-weight: normal;
    line-height: 1.6;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background: rgba($theme-base, 0.05);
    box-shadow: inset 0 0 0 1px rgba($theme-base, 0.05);
    color: $text;
    margin: 0 ($gutter-h * 0.35);
    transition: color 0.15s ease-in-out,
                background-color 0.15s ease-in-out,
                border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;
  }
}

.progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 100%;
  .cancel-query {
    margin-top: $gutter-h;
  }
}
