.BksTextEditor .bks-partial-read-only {
  .cm-line {
    cursor: default;
  }

  .bks-editable-marker {
    cursor: text;
  }

  .bks-editable-marker:hover, .bks-editable-marker-active {
    background-color: var(--gray-a4);
  }
}
