
// Table Info
.table-properties {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0;
  overflow: hidden;
  .alert-wrapper {
    padding: $gutter-w;
  }
  .table-properties-wrap {
    height: 100%;
    padding: 0 1.5rem 3rem;
    overflow: hidden;
    overflow-y: auto;
  }
  .table-properties-content {
    display: flex;
    flex-direction: column;
    margin-bottom: $gutter-w;
    .card-flat {
      padding: 0;
    }
  }
  .table-subheader {
    display: flex;
    align-items: center;
    padding: 0 $gutter-h;
    margin-top: $gutter-w * 3;
    margin-bottom: $gutter-w;
    .table-title {
      display: flex;
      flex-grow: 1;
    }
    h2 {
      margin: 0;
      text-transform: uppercase;
      font-size: 0.9em;
    }
  }
  .tabulator {
    max-height: 750px;
  }

  // Table Info 
  // --------------------------------
  // Table Info Header
  .table-info {
    padding-top: $gutter-w * 4;
    .table-name {
      padding: 0 $gutter-w;
      margin: 0 -$gutter-h;
      margin-bottom: $gutter-h;
      display: flex;
      align-items: center;
      .item-icon {
        font-size: 1.6rem;
        margin-right: $gutter-w;
      }
    }
    .table-meta {
      padding: $gutter-w;
      margin: 0 -$gutter-h;
      color: $text-lighter;
    }
    .table-description {
      position: relative;
      padding: $gutter-h $gutter-w;
      margin: 0 (-$gutter-h) 0;
      border-radius: 3px;
      cursor: pointer;
      min-height: 60px;
      &:hover {
        background: rgba($theme-base, 0.025);
        .material-icons {
          display: inline-block;
        }
      }
      &.edit-success {
        background-color: green;
      }
      &.edit-error {
        background-color: red;
      }
      .material-icons {
        display: none;
        position: absolute;
        top: $gutter-h;
        right: $gutter-h;
        opacity: 0.58;
      }
    }
    .table-description-wrap {
      h1, h2, h3, h4, h5, h5, p {
        margin: 0 0 $gutter-h;
      }
    }
    .table-description-edit {
      position: relative;
      margin-top: $gutter-w;
      padding-bottom: 3rem;
      textarea {
        min-height: 120px;
        padding: $gutter-h $gutter-w;
        resize: vertical;
      }
      span.markdown {
        content: 'markdown';
        font-size: 10px;
        color: $text-lighter;
        display: inline-block;
        position: absolute;
        top: $gutter-h;
        right: $gutter-h;
        padding: 0 $gutter-h;
        line-height: 1.8;
        // background: rgba($theme-base, 0.1);
        box-shadow: 0 0 0 1px $border-color;
        border-radius: 4px;
      }
    }
    .table-description-actions {
      position: absolute;
      right: $gutter-h * 1.25;
      bottom: $gutter-h * 1.25;
      .btn {
        min-width: min-content;
      }
    }
  }

  // Table Info Content
  .table-info-content {
    width: 100%;
    .form-group.inline {
      > * {
        padding-bottom: 0;
      }
      label {
        color: $text-light;
        min-width: 110px;
      }
      select, textarea {
        min-width: 200px;
        width: 100%!important;
      }
      select {
        max-width: 220px;
      }
    }
    textarea {
      height: auto;
    }
  }

  .table-schema {

    .table-subheader {
      margin-top: $gutter-w;
    }
    .tabulator-table {
      .tabulator-row {
        &.inserted {
          background-color: darkgreen;
          .tabulator-cell {
            background-color: darkgreen;
          }
        }
        &.deleted {
          background-color: darkred;
          .tabulator-cell {
            background-color: darkred;
          }
        }
      }
      .yesno-icon {
        float:right;
      }
    }
  }
}

.tabulator-table {
  .tabulator-cell {
    .null-value {
      color: rgba($theme-base, 0.28);
    }
  }
}

.table-properties {

  $row-height:             34px;
  $min-cell-width:         24px;
  $cell-font-size:         14px;
  $cell-padding:           0.8rem;
  $btn-fab-size:           32px;
  $row-gutter:             3px;

  .table-properties-wrap {

    .tabulator,
    .tabulator .tabulator-tableHolder {
      // overflow: visible;
      max-width: 100%;
      padding-bottom: 1px;
    }

    // Tabulator Header Row
    .tabulator {
      .tabulator-header {
        box-shadow: none;
        padding: 0!important;
        .tabulator-col {
          min-width: $min-cell-width!important;
          padding: 0 $cell-padding;
          font-size: ($cell-font-size * 0.9);
          .tabulator-col-content {
            padding: 0;
            .tabulator-col-title {
              color: $text-lighter;
            }
          }
        }
      }
    }

    // Field Rows
    .tabulator-row {
      margin: $row-gutter 0;
      background: rgba($theme-base, 0.05);
      border-radius: 5px;
      overflow: hidden;
      &.tabulator-row-even,
      &:nth-child(odd) {
        background: rgba($theme-base, 0.05);
      }
      .tabulator-cell {
        min-height: $row-height;
        height: $row-height;
        line-height: $row-height + 2px;
        padding: 0 $cell-padding;
        min-width: $min-cell-width;
        font-size: $cell-font-size;
        color: $text-dark;
        flex-grow: 1;
        &.tabulator-editing {
          border: 0;
          padding: 0 $gutter-h;
          min-height: $row-height;
          height: $row-height;
          line-height: $row-height + 2px;
          box-shadow: inset 0 1px $theme-base;
          .nullible-input {
            padding-right: 18px!important;
          }
        }
        &.no-padding {
          padding: 0;
          > * {
            margin: 0 $cell-padding;
          }
        }
        &.no-edit-highlight {
          background: transparent!important;
          &.tabulator-editing {
            box-shadow: none!important;
            input {
              box-shadow: inset 0 0 0 2px rgba($theme-base,0.87);
              &[type="checkbox"]:active, 
              &[type="checkbox"]:checked, 
              &[type="checkbox"]:checked:active {
                background: $theme-base!important;
                color: rgba(black, 0.87)!important;
                box-shadow: none!important;
              }
            }
          }
          &:hover {
            background: transparent;
          }
        }

        // Remove Cell
        &.remove-btn {
          padding: 0;
          cursor: default;
          .material-icons {
            line-height: $row-height;
            cursor: pointer;
            color: $text-lighter;
            transition: color 0.2s ease-in-out;
            &:hover {
              color: $text-dark;
            }
          }
        }

        // Make checkboxes behave correctly
        .tabulator-bks-checkbox {
          display: flex;
          align-items: center;
          height: $row-height;
          input {
            height: 18px;
            padding: 0!important;
          }
        }

        input, textarea {
          height: $row-height;
        }
        .null-value {
          color: $text-lighter;
        }
      }
    }

    
    // Resize Handle
    .tabulator-header,
    .tabulator-row {
      .tabulator-frozen, .tabulator-frozen:hover {
        background: transparent!important;
        border: 0!important;
        padding: 0!important;
      }
    }
    .tabulator-row {
      padding: 0!important;
      .tabulator-frozen {
        position: relative!important;
        cursor: move;
        &.tabulator-row-handle {
          .tabulator-row-handle-box {
            width: 80%;
            transform: rotate(90deg);
            margin-left: -8px;
            .tabulator-row-handle-bar {
              background: $border-color;
              height: 1px;
              &:last-child {
                display: none;
              }
            }
          }
        }
      }
    }

    .tabulator-row {
      &.tabulator-moving {
        @extend .card-shadow-hover;
        border: 0;
        background: lighten($theme-bg, 15%);
      }
    }
  }
}