
.tabletable {

  .tabulator {
    .tabulator-header {
      .tabulator-col.select-row-col {
        box-shadow: inset 0 -1px $border-color;
        background: $query-editor-bg;
        border-right: 0;
        .tabulator-col-content {
          padding-left: 0;
          text-align: center;
          padding-right: 0;
        }
        cursor: pointer;
        span.material-icons {
          font-size: inherit;
          line-height: inherit;
        }
        &:hover {
          span.material-icons {
            color: $theme-primary
          }
        }
      }
    }

    .tabulator-table {
          .tabulator-cell.select-row-col {
            border-radius: 0;
            padding-left: 0;
            padding-right: 0;
            text-align: center;
            font-size: 0.8em;
            // color: $text-lighter;
            background: $query-editor-bg;
            color: $text-lighter;
            border: 0;
            box-shadow: inset -1px 0px $border-color;
            .row-handle {
              display: none;
              font-size: 0.8rem;
              line-height: inherit;
            }
            &:hover {
              background: adjust-color($query-editor-bg, $lightness: 10%);
              .row-handle {
                display: inline-block;
              }
            }
          }

          .tabulator-row.tabulator-selectable.tabulator-selected {
            .select-row-col {
              background: $theme-bg;
            }
          }

    }

  }


}
