// These are the defaults. I just copied them across
// We can change these, you can also change the theme iteslf in .vuepress/theme
// note that some styles are in the styl files, some are in the components/*.vue files themselves.... I know.

// colors
$bodyBackground = #1d1d1d
$navbarBackground = #2c2c2c
$sidebarBackground = #252525
$navbarLinksBackground = transparent
$accentColor = #FAD832
$headerColor = rgba(white, 0.87)
$textColor = rgba(white,0.68)
$borderColor = transparent
$codeBgColor = #252525
$arrowBgColor = #ccc
$badgeTipColor = #FAD832
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

a svg.icon.outbound {
  margin-left: 5px;
}
