@use "sass:color";
@import "codemirror/theme/solarized.css";


// Global
$badge-bg:                 rgba($theme-base, 0.1);

// Sidebar
$sidebar-list-icons:       $theme-primary;

// Editor
$tabs-heading:             rgba($theme-base, 0.08);
$tab-link:                 $sbase4;
$codemirror-hint-bg:       color.adjust($theme-bg, $lightness: -2%);

// Table Editing
$row-highlight:            color.adjust($query-editor-bg, $lightness: -3%);
$row-add:                  color.mix($query-editor-bg, $brand-success, 70%);
$row-delete:               $removedRed;
$row-error:                color.mix($query-editor-bg, $brand-danger, 70%);

$cell-edited:              #EDDFA1;
$cell-error:               $row-error;
$cell-success:             $row-add;

// Statusbar
$editor-statusbar:         $theme-base;

@mixin cell-shadow {
  box-shadow: inset 1px 0 rgba(white, 0.4),
              inset 0 -1px rgba(white, 0.4);
}

// Base Styles
// -----------------------------------------
& {
  background: $theme-bg;
  color: $text;
}
.material-icons {
  // font-weight: 600;
}
select {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8' fill='rgba(0,0,0, 0.87)'><polygon points='0,0 8,0 4,4'/></svg>") no-repeat scroll 98% 60% transparent !important;
  option {
    &:hover {
      color: white;
      box-shadow: 0 0 10px 100px $brand-info inset;
    }

    &:checked {
      color: inherit;
      font-weight: bold;
    }
    &:disabled, &:disabled:hover, &:disabled:focus {
      background: transparent!important;
      color: $text-lighter!important;
    }
  }
}
::selection {
  background: rgba($brand-info, 0.25);
}

x-buttons {
  > x-button {
    &.btn-primary {
      &[menu] {
        border-left: 1px solid $query-editor-bg;
        &:hover {
          border-left: 1px solid $query-editor-bg;
        }
      }
    }
  }
}
.btn {
  box-shadow: inset 0 0 0 1px rgba($theme-base, 0.035);
}
.btn-link, .btn-fab {
  box-shadow: none;
}
.btn-flat {
  background: rgba($theme-base, 0.08);
}
.text-primary {
  color: $theme-primary!important;
}
.list-group {
  .list-item-btn {
    color: $sbase01;
    .actions {
      i {
        color: $text-light;
      }
      .btn-fab.pinned {
        i {
          color: $text-dark;
        }
      }
    }
  }
}
.badge {
  background: $badge-bg;
  color: $text-dark;
  &.badge-info {
    color: white;
  }
}
.text-danger {
  color: $brand-danger!important;
}
.connection-main {
  .card-flat {
    background: rgba($theme-base, 0.035);
  }
}
.connection-interface {
  .page-content:before {
    top: 0;
  }
}

// File-Menu
// ---------------------------------------
.flyout-nav {
  > .menu-bar {
    .top-menu-item {
      > a {
        > .label {
          color: $text-light;
        }
      }
    }
  }
}

// Connection Label
// -----------------------------------------
.connection-label {
  &.connection-label-color-yellow {
    background-color: color.adjust($theme-primary, $lightness: -4%);
    &:checked {
      background-color: color.adjust($theme-primary, $lightness: -4%);
    }
  }
}

// Sidebar
// ---------------------------------------
.advanced-connection-settings {
  background: rgba($theme-base, 0.05);
}
#sidebar {
  position: relative;
  .filter {
    .filter-actions {
      x-button {
        &.btn-fab {
        margin-right: 2px;
        line-height: 22px;
        height: 22px;
        width: 22px;
        min-width: 22px;
        border-radius: 22px;
        border: 0;
        &.active {
          background: rgba($theme-base, 0.1);
          .material-icons {
            color: $brand-info;
          }
        }
      }

      }
    }
  }
  .global-items {
    .nav-item.selectable {
      &:hover {
        &:before {
          background: rgba($theme-base, 0.38);
        }
      }
      &:hover, &.active, &.active:hover {
        &:before {
          width: 2px;
        }
      }
    }
  }
}
.list-heading {
  .sub {
    .badge {
      &.active {
        color: $brand-info;
      }
    }
  }
}
.item-icon {
  color: $theme-primary;
}

// Editor
// ---------------------------------------
.core-tabs {
  .tabs-header {
    background: $tabs-bg;
  }
  .nav-tabs {
    .nav-link {
      background: $tab-link;
      &.active {
        background: $query-editor-bg;
        .tab-action {
          background: linear-gradient(
            90deg,
            rgba($query-editor-bg,0) 0%,
            rgba($query-editor-bg,1) 20%
          );
        }
      }
    }
    .tab-action {
      top: 1px;
      right: 0;
      bottom: 1px;
      border-radius: 0 6px 0 0;
      background: linear-gradient(
        90deg,
        rgba($tab-link,0) 0%,
        rgba($tab-link,1) 20%
      );
    }
    .tab-close {
      .material-icons {
        color: $sbase1;
        &.close {
          color: $text-dark;
        }
      }
    }
  }
}

// Tabulator
// -------------------------------
.tabulator-table {
  .tabulator-row {
    &.tabulator-row-even {
      &.inserted,
      &.inserted:hover {
        background: $row-add!important;
      }
      &.edit-error {
        background: $row-error!important;
      }
    }
    .tabulator-cell {
      &.edited,
      &.edit-error,
      &.edit-success {
        @include cell-shadow;
      }
      &.edited {
        background: $cell-edited;
        &:hover {
          background: color.adjust($cell-edited, $lightness: -5%);
        }
      }
      &.edit-error {
        background: $cell-error;
        &:hover {
          background: color.adjust($cell-error, $lightness: -5%);
        }
      }
      &.edit-success {
        background: $cell-success;
        &:hover {
          background: color.adjust($cell-success, $lightness: -5%);
        }
      }
      &.foreign-key-button {
        .material-icons {
          &:hover {
            color: $text-dark;
          }
        }
      }
      .null-value {
        color: $text-light;
      }
    }
  }
}
.tabulator {

  .tabulator-loader {
    .tabulator-loader-msg {
      &.tabulator-loading {
        background-color: $theme-bg;
      }

    }
  }

  .tabulator-header {
    .tabulator-col {
      &.foreign-key {
        &:before {
          color: color.adjust($brand-primary, $lightness: -6%);
        }
      }
      .badge {
        color: $text-light;
      }
    }
  }
}

// Table Builder
// -------------------------
.table-builder .table-builder-wrap,
.table-properties .table-properties-wrap {
  .tabulator-row {
    &.inserted {
      background: $row-add!important;
    }
  }
}
.table-builder {

  .table-builder-header {
    .form-group {
      label {
        color: $text-light;
      }
    }
  }
}

// Schema Builder
// ----------------------------------
.schema-builder {

  // Schema Header
  .schema-header {
    .table-title {
      color: $text-light;
    }
  }

  // Tabulator Header Row
  .tabulator {
    .tabulator-header {
      .tabulator-col {
        .tabulator-col-content {
          .tabulator-col-title {
            color: $text-lighter;
          }
        }
      }
    }
  }

  // Field Rows
  .tabulator-row {
    .tabulator-cell {
      color: $text-dark;
      &.tabulator-editing {
        box-shadow: inset 0 1px $theme-base;
      }
      &.no-edit-highlight {
        &.tabulator-editing {
          input {
            &[type="checkbox"]:active,
            &[type="checkbox"]:checked,
            &[type="checkbox"]:checked:active {
              background: rgba($theme-base, 0.5)!important;
              color: $theme-bg!important;
            }
          }
        }
        &.edited {
          input {
            &[type="checkbox"]:active,
            &[type="checkbox"]:checked,
            &[type="checkbox"]:checked:active {
              &:after {
                color: white!important;
              }
            }
          }
        }
      }
      &.read-only {
        input[type="checkbox"] {
          &:active,
          &:checked,
          &:checked:active {
            &:after {
              color: $theme-base!important;
            }
          }
        }
        .tabulator-bks-checkbox {
          input {
            &:after {
              color: $theme-primary;
            }
          }
          &.editable {
            input[type="checkbox"] {
              box-shadow: inset 0 0 0 2px rgba($theme-base, 0.2)!important;
              cursor: pointer!important;
              &:active,
              &:checked,
              &:checked:active {
                background: $theme-base!important;
                &:after {
                  color: $theme-bg!important;
                }
              }
              &:focus {
                box-shadow: inset 0 0 0 2px $theme-base!important;
              }
            }
          }
        }
      }

      .material-icons.clear {
        color: $text-light;
        &:hover {
          color: $text-dark;
        }
      }

      // Remove Cell
      &.remove-btn {
        .material-icons {
          color: $text-lighter;
          &:hover {
            color: $text-dark;
          }
        }
      }
      .null-value {
        color: $text-lighter;
      }
    }
  }

  // Resize Handle
  .tabulator-row {
    .tabulator-frozen {
      &.tabulator-row-handle {
        .tabulator-row-handle-box {
          .tabulator-row-handle-bar {
            background: $border-color;
          }
        }
      }
    }
  }
  .tabulator-row {
    &.tabulator-moving {
      background: color.adjust($theme-bg, $lightness: 15%)!important;
    }
  }
}

& {
  --bks-text-editor-string-fg-color: #{$brand-success};
  --bks-text-editor-number-fg-color: #{$brand-warning};
  --bks-text-editor-keyword-fg-color: #{$brand-pink};
  --bks-text-editor-variable-2-fg-color: #{$brand-secondary};
  --bks-text-editor-selected-bg-color: #{rgba($theme-base, 0.25)};
  --bks-text-editor-linenumber-fg-color: #{rgba($theme-base, 0.25)};
  --bks-text-editor-cursor-bg-color: #{$text-dark};
  --bks-text-editor-bracket-fg-color: #{$text};

  --bks-text-editor-context-menu-bg-color: #{color.adjust($theme-bg, $lightness: -5%)};
  --bks-text-editor-context-menu-item-bg-color-active: #{$brand-info};
  --bks-text-editor-context-menu-item-fg-color-active: #ffffff;
}

.BksTextEditor {
  font-weight: 500;
}

// Noty
.noty_theme__mint.noty_type__success {
  color: color.adjust($brand-success, $lightness: -5%);
}

// Switch
x-switch {
  color: $theme-primary;
}

// Table Properties
// -------------------------------
.table-properties {
  .nav-pills {
    .nav-pill {
      &.active {
        color: $theme-secondary;
        box-shadow: inset 0 -2px $theme-secondary;
      }
    }
  }
}

// Quicksearch
.quicksearch {
  .quicksearch-bg {
    background: rgba(color.adjust($theme-bg, $lightness: -8%), 0.5);
  }
}


// Default Statusbar -- Invert text color
.statusbar {

  color: $sbase02;

  .statusbar-item {
    &.error {
      color: $sbase02;
      .material-icons {
        color: $sbase02;
      }
    }
  }

  .connection-button > .btn {
    color: $sbase4;
  .connection-type {
      color: inherit;
    }

  }



  .btn {
    &.btn-flat {
      color: $sbase03;
    }
  }

    .tabulator-paginator > div {
      input[type="number"] {
        color: $sbase03!important;
        border-color: rgba($sbase03, 0.2);
        &:hover, &:focus {
          border-color: rgba($sbase03, 0.25);
        }
      }
      a {
        .material-icons {
          color: rgba($sbase03, 0.68);
          &:hover {
            color: $sbase03;
          }
        }
      }
    }

  &.default {
    color: $text;
    .statusbar-item {
      &.error {
        color: $statusbar-text-default;
        .material-icons {
          color: $statusbar-text-default;
        }
      }
    }

    .statusbar-actions .btn,
    .connection-button > .btn {
      color: $statusbar-text;
    }
    .connection-button {
      .badge {
        color: $statusbar-text;
      }
    }
    .connection-type {
      color: $statusbar-text;
    }

    .btn {
      &.btn-flat {
        background: rgba($statusbar-text, 0.05);
        color: $statusbar-text;
        &:hover {
          background: rgba($statusbar-text, 0.1);
        }
      }
      &.btn-primary {
        background: rgba($statusbar-text, 0.2);
        &:hover {
          background: rgba($statusbar-text, 0.25);
        }
      }
    }

    .save-actions {
      .btn {
        &.btn-primary {
          background: $theme-base;
          &:hover {
            background: rgba($theme-base, 0.87);
          }
        }
      }

    }

    .select-wrap {
      background: rgba($statusbar-text, 0.05);
      &:hover {
        background: rgba($statusbar-text, 0.1);
      }
      select {
        color: $statusbar-text-default;
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8' fill='rgba(255,255,255,0.87'><polygon points='0,0 8,0 4,4'/></svg>") no-repeat scroll 98% 60% transparent !important;
      }
    }

    .download-results,
    .pending-changes {
      background: $statusbar-text-default;
      > .btn {
        color: $statusbar-text;
        &:hover, &:hover[expanded] {
          background: rgba($statusbar-text-default, 0.25);
        }
        &[menu], &[menu]:hover {
          border-left: 1px solid rgba($statusbar-text, 0.35);
        }
        .material-icons {
          color: $statusbar-text;
        }
      }
    }
    &.tabulator-footer {
      .tabulator-page {
        color: $statusbar-text;
        &.active {
          background: rgba($statusbar-text, 0.2);
        }
      }
    }

    // New Pagination
    .tabulator-paginator > div {
      input[type="number"] {
        color: $statusbar-text!important;
        border-color: rgba($statusbar-text, 0.2);
        &:hover, &:focus {
          border-color: rgba($statusbar-text, 0.25);
        }
      }
      a {
        .material-icons {
          color: rgba($statusbar-text, 0.68);
          &:hover {
            color: $statusbar-text;
          }
        }
      }
    }
  }
}

.global-status-bar {
  .connection-button:not(.default) {
    color: $sbase4;
  }
}

.json-viewer .BksTextEditor {
  --bks-text-editor-propertyName-fg-color: #{color.adjust($theme-primary, $lightness: 0%)};
}

& {
  // Core theme colors
  --bks-theme-bg: #{$theme-bg};
  --bks-theme-base: #{$theme-base};
  --bks-theme-primary: #{$theme-primary};
  --bks-theme-secondary: #{$theme-secondary};

  // Text colors
  --bks-text-dark: #{$text-dark};
  --bks-text: #{$text};
  --bks-text-light: #{$text-light};
  --bks-text-lighter: #{$text-lighter};
  --bks-text-hint: #{$text-hint};
  --bks-text-disabled: #{$text-disabled};

  // Brand colors
  --bks-brand-info: #{$brand-info};
  --bks-brand-success: #{$brand-success};
  --bks-brand-warning: #{$brand-warning};
  --bks-brand-danger: #{$brand-danger};
  --bks-brand-default: #{$brand-default};
  --bks-brand-purple: #{$brand-purple};
  --bks-brand-pink: #{$brand-pink};
  --bks-brand-primary: #{$brand-primary};
  --bks-brand-secondary: #{$brand-secondary};

  // App colors
  --bks-border-color: #{$border-color};
  --bks-link-color: #{$link-color};
  --bks-placeholder: #{$placeholder};
  --bks-selection: #{$selection};
  --bks-input-highlight: #{$input-highlight};

  // Editor colors
  --bks-codemirror-hint-bg: #{$codemirror-hint-bg};
  --bks-query-editor-bg: #{$query-editor-bg};
  --bks-db-select-text: #{$db-select-text};

  // Table editing colors
  --bks-row-handle-selected: #{$row-handle-selected};
  --bks-row-handle-hover: #{$row-handle-hover};
  --bks-row-highlight: #{$row-highlight};
  --bks-row-add: #{$row-add};
  --bks-row-delete: #{$row-delete};
  --bks-row-error: #{$row-error};

  --bks-cell-edited: #{$cell-edited};
  --bks-cell-error: #{$cell-error};
  --bks-cell-success: #{$cell-success};

  // Layout colors
  --bks-titlebar-bg: #{$titlebar-bg};
  --bks-global-sidebar-bg: #{$global-sidebar-bg};
  --bks-sidebar-bg: #{$sidebar-bg};
  --bks-sidebar-heading-bg: #{$sidebar-heading-bg};
  --bks-sidebar-list-icons: #{$sidebar-list-icons};
  --bks-tabs-bg: #{$tabs-bg};
  --bks-tabs-heading: #{$tabs-heading};
  --bks-grouped-tables-base: #{$grouped-tables-base};
  --bks-grouped-tables-light: #{$grouped-tables-light};

  --bks-editor-statusbar: #{$editor-statusbar};
  --bks-statusbar-bg: #{$statusbar-bg};
  --bks-statusbar-text: #{$statusbar-text};
  --bks-statusbar-text-default: #{$statusbar-text-default};

  --bks-tab-link: #{$tab-link};
  --bks-badge-bg: #{$badge-bg};

  --bks-table-icon-color: #{$theme-primary};

  --bks-text-editor-bg-color: #{$query-editor-bg};
  --bks-text-editor-error-bg-color: #{rgba($brand-danger, 0.1)};
  --bks-text-editor-error-fg-color: #{$brand-danger};
  --bks-text-editor-fg-color: #{$text-dark};
  --bks-text-editor-focused-outline-color: transparent;
  --bks-text-editor-foldgutter-fg-color: #{rgba($theme-base, 0.6)};
  --bks-text-editor-foldgutter-fg-color-hover: #{$text-dark};
  --bks-text-editor-gutter-bg-color: #{$query-editor-bg};
  --bks-text-editor-gutter-border-color: transparent;
  --bks-text-editor-highlight-bg-color: #{rgba($brand-warning, 0.3)};
  --bks-text-editor-keyword-fg-color: #{$brand-pink};
  --bks-text-editor-attributeName-fg-color: #{$brand-info};
  --bks-text-editor-variableName-fg-color: #{$text-dark};
  --bks-text-editor-variable-2-fg-color: #{$brand-secondary};
  --bks-text-editor-selected-bg-color: #{rgba($theme-base, 0.25)};
  --bks-text-editor-linenumber-fg-color: #{rgba($theme-base, 0.15)};
  --bks-text-editor-number-fg-color: #{$brand-primary};
  --bks-text-editor-string-fg-color: #{$brand-primary};
  --bks-text-editor-cursor-bg-color: #{$text-dark};
  --bks-text-editor-bracket-fg-color: #{$text};
  --bks-text-editor-name-fg-color: #{$text-dark};
  --bks-text-editor-typeName-fg-color: #{$text-dark};
  --bks-text-editor-sql-alias-fg-color: #{$text-dark};
  --bks-text-editor-sql-field-fg-color: #{$brand-secondary};
  --bks-text-editor-operator-fg-color: #{$text-dark};
  --bks-text-editor-punctuation-fg-color: #{$text-dark};
  --bks-text-editor-separator-fg-color: #{$text-dark};
  --bks-text-editor-type-fg-color: #{$text-dark};
  --bks-text-editor-searchmatch-bg-color: rgb(from var(--bks-brand-info) r g b / 25%);
  --bks-text-editor-searchmatch-selected-bg-color: rgb(from var(--bks-brand-primary) r g b / 70%);

  --bks-text-editor-panel-bg-color: #{$query-editor-bg};
  --bks-text-editor-panel-fg-color: #{$text-dark};

  --bks-text-editor-context-menu-bg-color: #{color.adjust($theme-bg, $lightness: 5%)};
  --bks-text-editor-context-menu-fg-color: #{$text-dark};
  --bks-text-editor-context-menu-item-bg-color-active: #{color.adjust($theme-secondary, $lightness: -25%)};
  --bks-text-editor-context-menu-item-bg-color-hover: #{rgba($theme-base, 0.05)};
  --bks-text-editor-context-menu-item-fg-color-active: #ffffff;
}
