@import "codemirror/lib/codemirror";
@import "codemirror/addon/hint/show-hint";
@import "noty/lib/noty";
@import "tabulator-tables/dist/css/tabulator_midnight";
@import "codemirror/theme/monokai";
@import "codemirror/addon/merge/merge";
@import "codemirror/addon/search/matchesonscrollbar";
@import "vue-select/dist/vue-select";

@import './app/normalize';
@import './app/variables';
@import './app/flex-grid';
@import './app/base';


body.theme-system {
  @media (prefers-color-scheme: dark) {
    @import './app/mixins';
    @import './components/all';
    @import './vendor.scss';
    @import './app/_all.scss';
    @import './themes/dark/theme.scss';
  }

  @media (prefers-color-scheme: light) {
    @import './themes/light/variables.scss';
    @import './app/mixins';
    @import './components/all';
    @import './vendor.scss';
    @import './app/_all.scss';
    @import './themes/light/theme.scss';
  }
}

body.theme-dark {
  @import './app/mixins';
  @import './components/all';
  @import './vendor.scss';
  @import './app/_all.scss';
  @import './themes/dark/theme.scss';
}

body.theme-light {
  @import './themes/light/variables.scss';
  @import './app/mixins';
  @import './components/all';
  @import './vendor.scss';
  @import './app/_all.scss';
  @import './themes/light/theme.scss';
}

body.theme-solarized-dark {
  @import './themes/solarized-dark/variables.scss';
  @import './app/mixins';
  @import './components/all';
  @import './vendor.scss';
  @import './app/_all.scss';
  @import './themes/solarized-dark/theme.scss';
}



body.theme-solarized {
  @import './themes/solarized-light/variables.scss';
  @import './app/mixins';
  @import './components/all';
  @import './vendor.scss';
  @import './app/_all.scss';
  @import './themes/solarized-light/theme.scss';
}
