.light-theme,
.theme-default.light-theme {
  --blue-1: #fbfdff;
  --blue-2: #f4f9fe;
  --blue-3: #e5f4ff;
  --blue-4: #d5edff;
  --blue-5: #c4e3fd;
  --blue-6: #afd7f7;
  --blue-7: #94c6ee;
  --blue-8: #69afe4;
  --blue-9: #3498db;
  --blue-10: #2e8bca;
  --blue-11: #0077b8;
  --blue-12: #143851;

  --blue-a1: #0080ff04;
  --blue-a2: #0074e80b;
  --blue-a3: #0094ff1a;
  --blue-a4: #0092ff2a;
  --blue-a5: #0186f73b;
  --blue-a6: #0080e650;
  --blue-a7: #0178d76b;
  --blue-a8: #0077d196;
  --blue-a9: #007ed2cb;
  --blue-a10: #0072bed1;
  --blue-a11: #0077b8;
  --blue-a12: #002742eb;
}

.dark-theme,
.theme-default.dark-theme {
  --blue-1: #040a10;
  --blue-2: #0f1820;
  --blue-3: #0e293b;
  --blue-4: #063452;
  --blue-5: #0e4162;
  --blue-6: #1c5074;
  --blue-7: #29628a;
  --blue-8: #3378a8;
  --blue-9: #3498db;
  --blue-10: #238cce;
  --blue-11: #75bff7;
  --blue-12: #c5e5ff;

  --blue-a1: #0029e908;
  --blue-a2: #49a9fe18;
  --blue-a3: #22a6ff34;
  --blue-a4: #009afe4c;
  --blue-a5: #17a3fd5d;
  --blue-a6: #35adff6f;
  --blue-a7: #46b3ff86;
  --blue-a8: #4ab5ffa5;
  --blue-a9: #3cb1ffda;
  --blue-a10: #29acfecd;
  --blue-a11: #79c5fff7;
  --blue-a12: #c5e5ff;
}
