.light-theme {
  --gray-1: #fcfcfc;
  --gray-2: #f9f9f9;
  --gray-3: #f0f0f0;
  --gray-4: #e8e8e8;
  --gray-5: #e1e1e1;
  --gray-6: #d9d9d9;
  --gray-7: #cecece;
  --gray-8: #bbb;
  --gray-9: #8c8c8c;
  --gray-10: #818181;
  --gray-11: #636363;
  --gray-12: #1f1f1f;

  --gray-a1: #00000003;
  --gray-a2: #00000006;
  --gray-a3: #0000000f;
  --gray-a4: #00000017;
  --gray-a5: #0000001e;
  --gray-a6: #00000026;
  --gray-a7: #00000031;
  --gray-a8: #00000044;
  --gray-a9: #00000073;
  --gray-a10: #0000007e;
  --gray-a11: #0000009c;
  --gray-a12: #000000e0;
}

.dark-theme {
  --gray-1: #090909;
  --gray-2: #171717;
  --gray-3: #222;
  --gray-4: #292929;
  --gray-5: #313131;
  --gray-6: #3a3a3a;
  --gray-7: #484848;
  --gray-8: #606060;
  --gray-9: #6d6d6d;
  --gray-10: #7a7a7a;
  --gray-11: #b3b3b3;
  --gray-12: #eee;

  --gray-a1: #00000000;
  --gray-a2: #ffffff0f;
  --gray-a3: #ffffff1a;
  --gray-a4: #ffffff21;
  --gray-a5: #ffffff29;
  --gray-a6: #ffffff33;
  --gray-a7: #ffffff41;
  --gray-a8: #ffffff5a;
  --gray-a9: #ffffff68;
  --gray-a10: #ffffff75;
  --gray-a11: #ffffffb0;
  --gray-a12: #ffffffed;
}
