.light-theme {
  --orange-1: #fefcfb;
  --orange-2: #fff6f0;
  --orange-3: #ffecde;
  --orange-4: #ffd9bb;
  --orange-5: #ffcba3;
  --orange-6: #ffc097;
  --orange-7: #f0af85;
  --orange-8: #e39867;
  --orange-9: #dc700c;
  --orange-10: #cc6601;
  --orange-11: #c25d00;
  --orange-12: #52321c;

  --orange-a1: #c0400004;
  --orange-a2: #ff66000f;
  --orange-a3: #ff6d0021;
  --orange-a4: #ff710044;
  --orange-a5: #ff6f005c;
  --orange-a6: #ff650068;
  --orange-a7: #e058017a;
  --orange-a8: #d0530098;
  --orange-a9: #da6900f3;
  --orange-a10: #cc6500fe;
  --orange-a11: #c25d00;
  --orange-a12: #3d1900e3;
}

.dark-theme {
  --orange-1: #0c0806;
  --orange-2: #1c1410;
  --orange-3: #311d10;
  --orange-4: #452005;
  --orange-5: #532a0b;
  --orange-6: #623719;
  --orange-7: #794827;
  --orange-8: #9b5d32;
  --orange-9: #dc700c;
  --orange-10: #ce6400;
  --orange-11: #ffa262;
  --orange-12: #fedecb;

  --orange-a1: #c9000004;
  --orange-a2: #fc966314;
  --orange-a3: #fb82332a;
  --orange-a4: #fc67003f;
  --orange-a5: #ff77104d;
  --orange-a6: #fd87355d;
  --orange-a7: #fd934b75;
  --orange-a8: #fe964e98;
  --orange-a9: #ff810ddb;
  --orange-a10: #fe7a00cd;
  --orange-a11: #ffa262;
  --orange-a12: #ffdfccfe;
}
