.light-theme {
  --pink-1: #fffcff;
  --pink-2: #fff6fe;
  --pink-3: #ffe6fd;
  --pink-4: #ffd8f9;
  --pink-5: #fdc8f4;
  --pink-6: #f7b7ed;
  --pink-7: #f0a2e5;
  --pink-8: #e885dc;
  --pink-9: #ff00f0;
  --pink-10: #f100e3;
  --pink-11: #c400b8;
  --pink-12: #690063;

  --pink-a1: #ff00ff03;
  --pink-a2: #ff00e309;
  --pink-a3: #ff00eb19;
  --pink-a4: #ff00d827;
  --pink-a5: #f600cc37;
  --pink-a6: #e300c048;
  --pink-a7: #d600b85d;
  --pink-a8: #cf01b67a;
  --pink-a9: #ff00f0;
  --pink-a10: #f100e3;
  --pink-a11: #c400b8;
  --pink-a12: #690063;
}

.dark-theme {
  --pink-1: #10050e;
  --pink-2: #220c20;
  --pink-3: #3c0a38;
  --pink-4: #54004f;
  --pink-5: #62005c;
  --pink-6: #73066c;
  --pink-7: #8e1885;
  --pink-8: #b51daa;
  --pink-9: #ff00f0;
  --pink-10: #f100e3;
  --pink-11: #ff77fb;
  --pink-12: #ffc9fc;

  --pink-a1: #e900a908;
  --pink-a2: #ff27eb1a;
  --pink-a3: #ff0eec35;
  --pink-a4: #ff00ee4e;
  --pink-a5: #fd00ed5d;
  --pink-a6: #ff03ef6e;
  --pink-a7: #ff25ef8a;
  --pink-a8: #fe25eeb3;
  --pink-a9: #ff00f0;
  --pink-a10: #ff00f0f1;
  --pink-a11: #ff77fb;
  --pink-a12: #ffc9fc;
}
