.light-theme {
  --purple-1: #fdfcff;
  --purple-2: #faf8ff;
  --purple-3: #f3eeff;
  --purple-4: #ebe3ff;
  --purple-5: #e2d6ff;
  --purple-6: #d6c5ff;
  --purple-7: #c6afff;
  --purple-8: #b391ff;
  --purple-9: #9858ff;
  --purple-10: #8c49f0;
  --purple-11: #7939d4;
  --purple-12: #3d1870;

  --purple-a1: #5500ff03;
  --purple-a2: #4900ff07;
  --purple-a3: #4b00ff11;
  --purple-a4: #4900ff1c;
  --purple-a5: #4b00ff29;
  --purple-a6: #4b00ff3a;
  --purple-a7: #4a00ff50;
  --purple-a8: #4f00ff6e;
  --purple-a9: #6200ffa7;
  --purple-a10: #5e00eab6;
  --purple-a11: #5300c8c6;
  --purple-a12: #290061e7;
}

.dark-theme {
  --purple-1: #0a0614;
  --purple-2: #191228;
  --purple-3: #2a1948;
  --purple-4: #371d62;
  --purple-5: #412471;
  --purple-6: #4d2f81;
  --purple-7: #5e3d9b;
  --purple-8: #794ec5;
  --purple-9: #9858ff;
  --purple-10: #8c49f0;
  --purple-11: #c2a2ff;
  --purple-12: #e5daff;

  --purple-a1: #1f00f30c;
  --purple-a2: #854ff921;
  --purple-a3: #8947fd42;
  --purple-a4: #8740fd5d;
  --purple-a5: #8e49ff6c;
  --purple-a6: #9356fd7d;
  --purple-a7: #9760fe98;
  --purple-a8: #9c64ffc3;
  --purple-a9: #9858ff;
  --purple-a10: #944dfef0;
  --purple-a11: #c2a2ff;
  --purple-a12: #e5daff;
}
