.light-theme {
  --yellow-1: #fefdfa;
  --yellow-2: #fffbea;
  --yellow-3: #fff7bd;
  --yellow-4: #ffef9c;
  --yellow-5: #ffe67c;
  --yellow-6: #efd875;
  --yellow-7: #dec870;
  --yellow-8: #cab248;
  --yellow-9: #ffdf15;
  --yellow-10: #f8d638;
  --yellow-11: #8f7700;
  --yellow-12: #433c22;

  --yellow-a1: #cc990005;
  --yellow-a2: #ffcf0015;
  --yellow-a3: #ffe10042;
  --yellow-a4: #ffd60063;
  --yellow-a5: #ffcf0083;
  --yellow-a6: #e2b7008a;
  --yellow-a7: #c59d008f;
  --yellow-a8: #b59400b7;
  --yellow-a9: #ffdc00ea;
  --yellow-a10: #f6cb00c7;
  --yellow-a11: #8f7700;
  --yellow-a12: #261e00dd;
}

.dark-theme {
  --yellow-1: #0b0904;
  --yellow-2: #19170e;
  --yellow-3: #292306;
  --yellow-4: #362b00;
  --yellow-5: #423500;
  --yellow-6: #504305;
  --yellow-7: #635519;
  --yellow-8: #7d6d23;
  --yellow-9: #fad83b;
  --yellow-10: #f0ce2b;
  --yellow-11: #fcda3e;
  --yellow-12: #f9ecb4;

  --yellow-a1: #b3090003;
  --yellow-a2: #fadb5411;
  --yellow-a3: #facc0022;
  --yellow-a4: #fec2002f;
  --yellow-a5: #fcc4003c;
  --yellow-a6: #fed1004a;
  --yellow-a7: #fdd7345e;
  --yellow-a8: #fddc4079;
  --yellow-a9: #ffdc3cfa;
  --yellow-a10: #feda2df0;
  --yellow-a11: #ffdd3ffc;
  --yellow-a12: #fff2b8f9;
}
