.theme-solarized {
  --base-1: #002b36;
  --base-2: #00303b;
  --base-3: #15414c;
  --base-4: #536c73;
  --base-5: #5d767d;
  --base-6: #677f86;
  --base-7: #7d9093;
  --base-8: #89999a;
  --base-9: #96a4a4;
  --base-10: #ddd8c9;
  --base-11: #f8efdd;
  --base-12: #fff6e3;
}
