.theme-solarized {
  --blue-1: #f2f4f6;
  --blue-2: #ebf0f4;
  --blue-3: #dde9f4;
  --blue-4: #cce2f5;
  --blue-5: #bad8f2;
  --blue-6: #a6cbeb;
  --blue-7: #8abae2;
  --blue-8: #60a2d9;
  --blue-9: #268bd2;
  --blue-10: #107ec4;
  --blue-11: #006bb0;
  --blue-12: #0f3755;

  --blue-a1: #ecf4ffae;
  --blue-a2: #dfedff9b;
  --blue-a3: #c8e1ff9b;
  --blue-a4: #b0d7ffa4;
  --blue-a5: #7fbfff89;
  --blue-a6: #0060ff49;
  --blue-a7: #0074e175;
  --blue-a8: #006fd39f;
  --blue-a9: #0078cfd9;
  --blue-a10: #0076c2ef;
  --blue-a11: #006bb0;
  --blue-a12: #002c4df0;
}

.theme-solarized.dark-theme {
  --blue-1: #1a2733;
  --blue-2: #1c2c39;
  --blue-3: #133957;
  --blue-4: #01446f;
  --blue-5: #025080;
  --blue-6: #0e5d92;
  --blue-7: #166da8;
  --blue-8: #137fc5;
  --blue-9: #268bd2;
  --blue-10: #107ec4;
  --blue-11: #6ec2ff;
  --blue-12: #c6eaff;

  --blue-a1: #ff04191a;
  --blue-a2: #ff35521c;
  --blue-a3: #7480ff2a;
  --blue-a4: #0482fd49;
  --blue-a5: #0690ff5e;
  --blue-a6: #1f98ff75;
  --blue-a7: #279fff91;
  --blue-a8: #1ba1ffb6;
  --blue-a9: #31a6ffc6;
  --blue-a10: #17a0feb5;
  --blue-a11: #6ec2ff;
  --blue-a12: #c6eaff;
}
