.theme-solarized {
  --gray-1: #fff6e3;
  --gray-2: #f8efdd;
  --gray-3: #ddd8c9;
  --gray-4: #96a4a4;
  --gray-5: #89999a;
  --gray-6: #7d9093;
  --gray-7: #677f86;
  --gray-8: #5d767d;
  --gray-9: #536c73;
  --gray-10: #15414c;
  --gray-11: #00303b;
  --gray-12: #002b36;

  --gray-a1: #00000000;
  --gray-a2: #5e172408;
  --gray-a3: #060f1b21;
  --gray-a4: #012d4968;
  --gray-a5: #012c4475;
  --gray-a6: #022e4782;
  --gray-a7: #022f4798;
  --gray-a8: #022c42a2;
  --gray-a9: #012a3dac;
  --gray-a10: #00313eea;
  --gray-a11: #00303bff;
  --gray-a12: #002b36ff;
}

.theme-solarized.dark-theme {
  --gray-1: #002b36;
  --gray-2: #00303b;
  --gray-3: #15414c;
  --gray-4: #536c73;
  --gray-5: #5d767d;
  --gray-6: #677f86;
  --gray-7: #7d9093;
  --gray-8: #89999a;
  --gray-9: #96a4a4;
  --gray-10: #ddd8c9;
  --gray-11: #f8efdd;
  --gray-12: #fff6e3;

  --gray-a1: #00000000;
  --gray-a2: #00e2ec07;
  --gray-a3: #c0f4ff1c;
  --gray-a4: #fff3f253;
  --gray-a5: #fff9f95d;
  --gray-a6: #fffbfd67;
  --gray-a7: #fff9f37d;
  --gray-a8: #fff8f189;
  --gray-a9: #fff9f196;
  --gray-a10: #fff2e0dd;
  --gray-a11: #fff5e2f8;
  --gray-a12: #fff6e3ff;
}
