@import "./editor.css";

.theme-solarized {
  --white: #fff6e3;
  --black: #002b36;

  --gray-1: #fff6e3;
  --gray-2: #faf0dc;
  --gray-3: #efe5cb;
  --gray-4: #ece3c3;
  --gray-5: #e4dcbb;
  --gray-6: #dbd4b5;
  --gray-7: #c9cbb0;
  --gray-8: #b4b8a9;
  --gray-9: #637a77;
  --gray-10: #4b6365;
  --gray-11: #073e4a;
  --gray-12: #002b36;

  --gray-a1: #00000000;
  --gray-a2: #60370408;
  --gray-a3: #6855001b;
  --gray-a4: #786f0024;
  --gray-a5: #6662002d;
  --gray-a6: #4d4e0034;
  --gray-a7: #0f370039;
  --gray-a8: #00231e4b;
  --gray-a9: #002b329c;
  --gray-a10: #002631b4;
  --gray-a11: #003946f8;
  --gray-a12: #002b36ff;
}

.theme-solarized.dark-theme {
  --gray-1: #002b36;
  --gray-2: #00303b;
  --gray-3: #15414c;
  --gray-4: #37494e;
  --gray-5: #3f5156;
  --gray-6: #495b60;
  --gray-7: #5b6a6c;
  --gray-8: #758384;
  --gray-9: #96a4a4;
  --gray-10: #aeb7b2;
  --gray-11: #f8efdd;
  --gray-12: #fff6e3;

  --gray-a1: #00000000;
  --gray-a2: #00e1ec07;
  --gray-a3: #bff3fe1c;
  --gray-a4: #ffb6a537;
  --gray-a5: #ffc5b83f;
  --gray-a6: #ffd3c949;
  --gray-a7: #ffdccd5b;
  --gray-a8: #ffebe075;
  --gray-a9: #fff9f196;
  --gray-a10: #fff8ecae;
  --gray-a11: #fff5e2f8;
  --gray-a12: #fff6e3ff;
}
