.theme-solarized {
  --orange-1: #f5f3f2;
  --orange-2: #f6edea;
  --orange-3: #f7e1d9;
  --orange-4: #ffcebd;
  --orange-5: #febea9;
  --orange-6: #f5b199;
  --orange-7: #e79e85;
  --orange-8: #dc8668;
  --orange-9: #cb4b16;
  --orange-10: #bc3c00;
  --orange-11: #be3f00;
  --orange-12: #572d1f;

  --orange-a1: #edf1ff89;
  --orange-a2: #dcd3ff40;
  --orange-a3: #a3037016;
  --orange-a4: #ff08022b;
  --orange-a5: #fc1e0342;
  --orange-a6: #e1250354;
  --orange-a7: #c622016a;
  --orange-a8: #bf29028b;
  --orange-a9: #c63901e7;
  --orange-a10: #bc3c00;
  --orange-a11: #be3f00;
  --orange-a12: #3d0e01dd;
}

.theme-solarized.dark-theme {
  --orange-1: #2b2422;
  --orange-2: #302623;
  --orange-3: #49291e;
  --orange-4: #5c2917;
  --orange-5: #6a2f1b;
  --orange-6: #783a25;
  --orange-7: #8e4931;
  --orange-8: #b25b3d;
  --orange-9: #cb4b16;
  --orange-10: #bc3c00;
  --orange-11: #ff9872;
  --orange-12: #f8d5c9;

  --orange-a1: #ff02002b;
  --orange-a2: #ff110030;
  --orange-a3: #ff250049;
  --orange-a4: #ff26005c;
  --orange-a5: #ff35006a;
  --orange-a6: #ff4b1278;
  --orange-a7: #ff612e8e;
  --orange-a8: #ff7041b2;
  --orange-a9: #ff530ecb;
  --orange-a10: #ff4300bc;
  --orange-a11: #ff9872;
  --orange-a12: #ffdacef8;
}
