.theme-solarized {
  --pink-1: #f6f3f4;
  --pink-2: #f5edf0;
  --pink-3: #f5dfe6;
  --pink-4: #f2d1dc;
  --pink-5: #eec3d1;
  --pink-6: #e6b3c5;
  --pink-7: #dda0b6;
  --pink-8: #d387a4;
  --pink-9: #d33682;
  --pink-10: #c42475;
  --pink-11: #b7156b;
  --pink-12: #64163b;

  --pink-a1: #f1f2ff9b;
  --pink-a2: #eae3ff77;
  --pink-a3: #a425ff1c;
  --pink-a4: #aa05b627;
  --pink-a5: #ae018d35;
  --pink-a6: #a4027646;
  --pink-a7: #9f03645a;
  --pink-a8: #9f025974;
  --pink-a9: #c70167c8;
  --pink-a10: #ba0062da;
  --pink-a11: #b10160ea;
  --pink-a12: #55012be9;
}

.theme-solarized.dark-theme {
  --pink-1: #2c2326;
  --pink-2: #332329;
  --pink-3: #4b2634;
  --pink-4: #5f233d;
  --pink-5: #6b2945;
  --pink-6: #7a3351;
  --pink-7: #924163;
  --pink-8: #b64f7b;
  --pink-9: #d33682;
  --pink-10: #c42475;
  --pink-11: #ff8dc0;
  --pink-12: #ffd2e1;

  --pink-a1: #ff00002c;
  --pink-a2: #ff040033;
  --pink-a3: #ff1b304b;
  --pink-a4: #ff16495f;
  --pink-a5: #ff275a6b;
  --pink-a6: #ff3c6f7a;
  --pink-a7: #ff528592;
  --pink-a8: #ff5e97b6;
  --pink-a9: #ff3992d3;
  --pink-a10: #ff2288c4;
  --pink-a11: #ff8dc0;
  --pink-a12: #ffd2e1;
}
