.theme-solarized {
  --pink-1: var(--magenta-1);
  --pink-2: var(--magenta-2);
  --pink-3: var(--magenta-3);
  --pink-4: var(--magenta-4);
  --pink-5: var(--magenta-5);
  --pink-6: var(--magenta-6);
  --pink-7: var(--magenta-7);
  --pink-8: var(--magenta-8);
  --pink-9: var(--magenta-9);
  --pink-10: var(--magenta-10);
  --pink-11: var(--magenta-11);
  --pink-12: var(--magenta-12);
  --pink-a1: var(--magenta-a1);
  --pink-a2: var(--magenta-a2);
  --pink-a3: var(--magenta-a3);
  --pink-a4: var(--magenta-a4);
  --pink-a5: var(--magenta-a5);
  --pink-a6: var(--magenta-a6);
  --pink-a7: var(--magenta-a7);
  --pink-a8: var(--magenta-a8);
  --pink-a9: var(--magenta-a9);
  --pink-a10: var(--magenta-a10);
  --pink-a11: var(--magenta-a11);
  --pink-a12: var(--magenta-a12);
}
