.theme-solarized {
  --purple-1: var(--violet-1);
  --purple-2: var(--violet-2);
  --purple-3: var(--violet-3);
  --purple-4: var(--violet-4);
  --purple-5: var(--violet-5);
  --purple-6: var(--violet-6);
  --purple-7: var(--violet-7);
  --purple-8: var(--violet-8);
  --purple-9: var(--violet-9);
  --purple-10: var(--violet-10);
  --purple-11: var(--violet-11);
  --purple-12: var(--violet-12);
  --purple-a1: var(--violet-a1);
  --purple-a2: var(--violet-a2);
  --purple-a3: var(--violet-a3);
  --purple-a4: var(--violet-a4);
  --purple-a5: var(--violet-a5);
  --purple-a6: var(--violet-a6);
  --purple-a7: var(--violet-a7);
  --purple-a8: var(--violet-a8);
  --purple-a9: var(--violet-a9);
  --purple-a10: var(--violet-a10);
  --purple-a11: var(--violet-a11);
  --purple-a12: var(--violet-a12);
}
