/* https://draculatheme.com/spec#ui-color-palette */
.theme-dracula {
  --gray-1: var(--dracula-background);
  --gray-2: var(--dracula-background-lighter);
  --gray-3: var(--dracula-background-light);
  --gray-4: var(--dracula-background-dark);
  --gray-5: var(--dracula-background-darker);
  --gray-6: #c4bfab;
  --gray-7: #a7a28b;
  --gray-8: #89846b;
  --gray-9: var(--dracula-comment);
  --gray-10: #837c5e;
  --gray-11: #2c2b31;
  --gray-12: var(--dracula-foreground);

  --gray-a1: #00000000;
  --gray-a2: #000a4a13;
  --gray-a3: #000b1321;
  --gray-a4: #00070c31;
  --gray-a5: #00041643;
  --gray-a6: #6c664b66;
  --gray-a7: #6c664b99;
  --gray-a8: #6c664bcc;
  --gray-a9: #6c664b;
  --gray-a10: #31280099;
  --gray-a11: #01010bd4;
  --gray-a12: #000002e0;
}

.theme-dracula.dark-theme {
  --gray-1: var(--dracula-background-darker);
  --gray-2: var(--dracula-background-dark);
  --gray-3: var(--dracula-background);
  --gray-4: var(--dracula-background-light);
  --gray-5: var(--dracula-background-lighter);
  --gray-6: #3f4762;
  --gray-7: #4b5578;
  --gray-8: #56648e;
  --gray-9: var(--dracula-comment);
  --gray-10: #6f80b2;
  --gray-11: var(--dracula-foreground);
  --gray-12: #ffffff;

  --gray-a1: #02010164;
  --gray-a2: #04010231;
  --gray-a3: #00000000;
  --gray-a4: #bac8f815;
  --gray-a5: #f1f3ff21;
  --gray-a6: #6272a466;
  --gray-a7: #6272a499;
  --gray-a8: #6272a4cc;
  --gray-a9: #6272a4;
  --gray-a10: #9bb5fe9e;
  --gray-a11: #fffff8f7;
  --gray-a12: #ffffff;
}
