.theme-dracula {
  --green-1: #f6f9f5;
  --green-2: #f0f6ef;
  --green-3: #e3f2e1;
  --green-4: #d4ebd0;
  --green-5: #c2e4bd;
  --green-6: #abd9a5;
  --green-7: #8cc985;
  --green-8: #5fb456;
  --green-9: #14710a;
  --green-10: #006200;
  --green-11: #207918;
  --green-12: #203d1d;

  --green-a1: #eef8ff80;
  --green-a2: #b4e2ff33;
  --green-a3: #00aa901c;
  --green-a4: #019d4b2b;
  --green-a5: #009b2b3d;
  --green-a6: #00941654;
  --green-a7: #008c0973;
  --green-a8: #038b00a2;
  --green-a9: #0a6b01f5;
  --green-a10: #006200;
  --green-a11: #076a00e5;
  --green-a12: #012200e0;
}

.theme-dracula.dark-theme {
  --green-1: #252d26;
  --green-2: #273328;
  --green-3: #2a422d;
  --green-4: #2b5031;
  --green-5: #2e5c36;
  --green-6: #31693b;
  --green-7: #347842;
  --green-8: #368948;
  --green-9: #50fa7b;
  --green-10: #4cee75;
  --green-11: #50f178;
  --green-12: #b7fdc0;

  --green-a1: #00ea0004;
  --green-a2: #11fb000b;
  --green-a3: #3afe001d;
  --green-a4: #39fd1b2e;
  --green-a5: #41ff373c;
  --green-a6: #47fe474c;
  --green-a7: #49fd575e;
  --green-a8: #48ff5f72;
  --green-a9: #51fe7cfa;
  --green-a10: #4fff7beb;
  --green-a11: #52fe7def;
  --green-a12: #b8ffc2fd;
}
