.theme-dracula {
}

.theme-dracula.light-theme {
  --editor-bg: #fffdf5;
}

.theme-dracula.dark-theme {
  --editor-bg: var(--dracula-bg);
  --editor-gutter-bg: var(--dracula-bg);
  --editor-activeline-bg: var(--dracula-selection);
  --editor-activeline-gutter-bg: var(--dracula-selection);
  --editor-linenumber-fg: rgb(144, 145, 148);
  --editor-highlight-bg: rgb(from #8be9fd r g b / 0.31);
  --editor-linenumber-active-fg: var(--pink);
  --editor-indent-marker-bg: rgb(from #ffffff r g b / 0.1);
  --editor-indent-marker-active-bg: rgb(from #ffffff r g b / 0.27);
  --editor-matchingbracket-bg: #44475a;
  --editor-searchmatch-bg: rgb(from #ffffff r g b / 0.25);
  --editor-searchmatch-selected-bg: rgb(from #ffb86c r g b / 0.5);
}

/* https://github.com/dracula/cursor/blob/main/dev/src/classic.yml */
.theme-dracula {
  --link-fg: var(--purple);

  --selection-bg: var(--dracula-selection);

  --scrollbar-thumb: rgb(from var(--dracula-fg) r g b / 0.2);

  --tabs-header-bg: var(--titlebar-bg);
  --tab-bg: var(--dracula-bg-darker);
  --tab-fg: var(--dracula-comment);
  --tab-active-bg: var(--dracula-bg);
}

.theme-dracula.dark-theme {
}

/* https://draculatheme.com/spec#ui-color-palette */
.theme-dracula {
  --gray-1: var(--dracula-bg);
  --gray-2: var(--dracula-bg-lighter);
  --gray-3: var(--dracula-bg-light);
  --gray-4: var(--dracula-bg-dark);
  --gray-5: var(--dracula-bg-darker);
  --gray-6: #c4bfab;
  --gray-7: #a7a28b;
  --gray-8: #89846b;
  --gray-9: #797358;
  --gray-10: var(--dracula-comment);
  --gray-11: var(--dracula-fg);
  --gray-12: #000000;

  --gray-a1: #00000000;
  --gray-a2: #000a4a13;
  --gray-a3: #000b1321;
  --gray-a4: #00070c31;
  --gray-a5: #00041643;
  --gray-a6: #29210246;
  --gray-a7: #2a230269;
  --gray-a8: #2721008b;
  --gray-a9: #2a2200a0;
  --gray-a10: #282000ae;
  --gray-a11: #000002e0;
  --gray-a12: #000000ff;
}

.theme-dracula.dark-theme {
  --gray-1: var(--dracula-bg-darker);
  --gray-2: var(--dracula-bg-dark);
  --gray-3: var(--dracula-bg);
  --gray-4: var(--dracula-bg-light);
  --gray-5: var(--dracula-bg-lighter);
  --gray-6: #3f4762;
  --gray-7: #4b5578;
  --gray-8: #56648e;
  --gray-9: var(--dracula-comment);
  --gray-10: #6f80b2;
  --gray-11: var(--dracula-fg);
  --gray-12: #ffffff;

  --gray-a1: #00000000;
  --gray-a2: #b6b7f90d;
  --gray-a3: #b2bef819;
  --gray-a4: #bac6fd2b;
  --gray-a5: #dbe1ff36;
  --gray-a6: #9ab3fe4b;
  --gray-a7: #99b1ff64;
  --gray-a8: #94b0fd7e;
  --gray-a9: #95aeff97;
  --gray-a10: #9cb6ffa7;
  --gray-a11: #fefef8f8;
  --gray-a12: #ffffffff;
}

:root {
  /* Based on https://draculatheme.com/spec */

  /* =====================
   * Dracula (dark scheme)
   * =====================
   **/

  /* ===== Editor palette ===== */

  --dracula-editor-bg: #282a36;
  --dracula-editor-current-line: #6272a428;
  --dracula-editor-selection: #44475a;
  --dracula-editor-fg: #f8f8f2;
  --dracula-editor-comment: #6272a4;
  --dracula-editor-red: #ff5555;
  --dracula-editor-orange: #ffb86c;
  --dracula-editor-yellow: #f1fa8c;
  --dracula-editor-green: #50fa7b;
  --dracula-editor-cyan: #8be9fd;
  --dracula-editor-purple: #bd93f9;
  --dracula-editor-pink: #ff79c6;

  /* ===== UI palette ===== */

  --dracula-bg-lighter: #424450;
  --dracula-bg-light: #343746;
  --dracula-bg-dark: #21222c;
  --dracula-bg-darker: #191a21;

  --dracula-red: #DE5735;
  --dracula-orange: #A39514;
  --dracula-green: #089108;
  --dracula-cyan: #0081D6;
  --dracula-purple: #815CD6;

  /* =====================
   * Alucard (light scheme)
   * =====================
   **/

  /* ===== Editor palette ===== */

  --alucard-editor-bg: #fffbeb;
  --alucard-editor-current-line: #6c664b;
  --alucard-editor-selection: #cfcfde;
  --alucard-editor-fg: #1f1f1f;
  --alucard-editor-comment: #6c664b;
  --alucard-editor-red: #cb3a2a;
  --alucard-editor-orange: #a34d14;
  --alucard-editor-yellow: #846e15;
  --alucard-editor-green: #14710a;
  --alucard-editor-cyan: #036a96;
  --alucard-editor-purple: #644ac9;
  --alucard-editor-pink: #a3144d;

  /* ===== UI palette ===== */

  --alucard-bg-lighter: #ece9df;
  --alucard-bg-light: #dedccf;
  --alucard-bg-dark: #ceccc0;
  --alucard-bg-darker: #bcbab3;
}

.theme-dracula {
  --gray-1: var(--dracula-bg-darker);
  --gray-2: var(--dracula-bg-dark);
  --gray-3: var(--dracula-bg);
  --gray-4: var(--dracula-bg-light);
  --gray-5: var(--dracula-bg-lighter);
  --gray-6: #3f4762;
  --gray-7: #4b5578;
  --gray-8: #56648e;
  --gray-9: var(--dracula-comment);
  --gray-10: #6f80b2;
  --gray-11: var(--dracula-fg);
  --gray-12: #ffffff;

  --gray-a1: #00000000;
  --gray-a2: #b6b7f90d;
  --gray-a3: #b2bef819;
  --gray-a4: #bac6fd2b;
  --gray-a5: #dbe1ff36;
  --gray-a6: #9ab3fe4b;
  --gray-a7: #99b1ff64;
  --gray-a8: #94b0fd7e;
  --gray-a9: #95aeff97;
  --gray-a10: #9cb6ffa7;
  --gray-a11: #fefef8f8;
  --gray-a12: #ffffffff;

  --app-bg: var(--dracula-bg);

  --editor-fg: var(--dracula-fg);
  --editor-cursor-bg: var(--dracula-fg);
  --editor-activeline-bg: var(--dracula-current-line);
  --editor-activeline-gutter-bg: var(--dracula-current-line);
  --editor-highlight-bg: rgb(from #036a96 r g b / 0.25);
  --editor-error-bg: rgb(from var(--red) r g b / 0.1);
  --editor-error-fg: var(--red);
  --editor-gutter-bg: var(--dracula-bg);
  --editor-linenumber-fg: var(--dracula-comment);
  --editor-linenumber-active-fg: #a3144d;
  --editor-foldgutter-fg: var(--dracula-comment);
  --editor-foldgutter-fg-hover: var(--dracula-fg);
  --editor-indent-marker-bg: #dcdeef;
  --editor-indent-marker-active-bg: rgb(from #2c2b31 r g b / 0.38);

  --editor-keyword-fg: var(--pink);
  --editor-operatorKeyword-fg: var(--pink);
  --editor-modifier-fg: var(--pink);
  --editor-self-fg: var(--purple);
  --editor-standard-fg: var(--blue);

  --editor-string-fg: var(--yellow);
  --editor-special-string-fg: var(--yellow);
  --editor-character-fg: var(--yellow);
  --editor-attributeValue-fg: var(--yellow);
  --editor-regexp-fg: var(--yellow);
  --editor-escape-fg: var(--pink);

  --editor-number-fg: var(--purple);
  --editor-bool-fg: var(--purple);
  --editor-null-fg: var(--purple);
  --editor-atom-fg: var(--purple);
  --editor-color-fg: var(--purple);
  --editor-enumMember-fg: var(--purple);

  --editor-variable-fg: var(--dracula-fg);
  --editor-variable-2-fg: var(--dracula-fg);
  --editor-variable-3-fg: var(--dracula-fg);
  --editor-variableName-fg: var(--dracula-fg);
  --editor-definition-fg: var(--dracula-fg);
  --editor-def-fg: var(--dracula-fg);
  --editor-function-fg: var(--green);
  --editor-method-fg: var(--green);
  --editor-parameter-fg: var(--orange);
  --editor-property-fg: var(--dracula-fg);
  --editor-propertyName-fg: var(--dracula-fg);
  --editor-builtin-fg: var(--blue);
  --editor-tag-fg: var(--pink);
  --editor-sql-field-fg: var(--dracula-fg);
  --editor-sql-alias-fg: var(--dracula-fg);
  --editor-name-fg: var(--dracula-fg);

  --editor-type-fg: var(--blue);
  --editor-typeName-fg: var(--blue);
  --editor-typeParameter-fg: var(--orange);
  --editor-class-fg: var(--green);
  --editor-className-fg: var(--green);
  --editor-interface-fg: var(--blue);
  --editor-struct-fg: var(--blue);
  --editor-enum-fg: var(--blue);
  --editor-namespace-fg: var(--blue);
  --editor-attributeName-fg: var(--green);
  --editor-changed-fg: var(--blue);

  --editor-decorator-fg: var(--green);
  --editor-macro-fg: var(--green);
  --editor-annotation-fg: var(--green);
  --editor-processingInstruction-fg: var(--pink);
  --editor-meta-fg: var(--dracula-fg);
  --editor-event-fg: var(--dracula-fg);

  --editor-link-fg: var(--blue);
  --editor-url-fg: var(--blue);
  --editor-heading-fg: var(--purple);
  --editor-header-fg: var(--purple);

  --editor-deleted-fg: var(--red);

  --editor-comment-fg: var(--dracula-comment);
  --editor-comment-attribute-fg: var(--dracula-comment);
  --editor-comment-def-fg: var(--dracula-comment);
  --editor-comment-tag-fg: var(--dracula-comment);
  --editor-comment-type-fg: var(--dracula-comment);
  --editor-label-fg: var(--dracula-comment);
  --editor-labelName-fg: var(--dracula-comment);

  --editor-operator-fg: var(--pink);
  --editor-punctuation-fg: var(--dracula-fg);
  --editor-separator-fg: var(--dracula-fg);
  --editor-bracket-fg: var(--dracula-fg);
  --editor-strong-fg: var(--orange);
  --editor-emphasis-fg: var(--yellow);
  --editor-strikethrough-fg: var(--dracula-comment);

  --editor-matchingbracket-fg: var(--dracula-fg);
  --editor-matchingbracket-bg: #e2deca;
  --editor-matchingselection-bg: var(--dracula-bg-lighter);
  --editor-searchmatch-bg: rgb(from #846e15 r g b / 0.25);
  --editor-searchmatch-selected-bg: rgb(from #846e15 r g b / 0.25);
  --editor-guttermarker-fg: var(--dracula-fg);
  --editor-guttermarker-subtle-fg: var(--dracula-comment);
  --editor-fatcursor-bg: var(--dracula-fg);

  --editor-vim-panel-insert-bg: rgb(from var(--green) r g b / 0.15);
  --editor-vim-panel-insert-fg: var(--green);
  --editor-vim-panel-visual-bg: rgb(from var(--purple) r g b / 0.15);
  --editor-vim-panel-visual-fg: var(--purple);
  --editor-vim-panel-replace-bg: rgb(from var(--red) r g b / 0.15);
  --editor-vim-panel-replace-fg: var(--red);
  --editor-vim-panel-border: 1px solid var(--dracula-bg-darker);

  --mongo-shell-mongo-prompt-fg: var(--green);
  --mongo-shell-ansi-output-fg: var(--dracula-fg);
}
