.theme-dracula {
  --orange-1: #faf8f7;
  --orange-2: #fff2eb;
  --orange-3: #ffe4d1;
  --orange-4: #ffd7bc;
  --orange-5: #ffcaa8;
  --orange-6: #ffbc95;
  --orange-7: #f6aa82;
  --orange-8: #e98e5d;
  --orange-9: #a34d14;
  --orange-10: #933f00;
  --orange-11: #a44e16;
  --orange-12: #4a3226;

  --orange-a1: #f7f6ff99;
  --orange-a2: #ff16ec0a;
  --orange-a3: #ff31071d;
  --orange-a4: #ff470033;
  --orange-a5: #ff500149;
  --orange-a6: #ff51025e;
  --orange-a7: #eb460172;
  --orange-a8: #db48029b;
  --orange-a9: #9b3d01ea;
  --orange-a10: #933f00;
  --orange-a11: #9b3d01e8;
  --orange-a12: #270c00d6;
}

.theme-dracula.dark-theme {
  --orange-1: #2e2a26;
  --orange-2: #342d27;
  --orange-3: #453525;
  --orange-4: #54391c;
  --orange-5: #5f4120;
  --orange-6: #6b4c2c;
  --orange-7: #7d5c38;
  --orange-8: #996f43;
  --orange-9: #ffb86c;
  --orange-10: #f4ae62;
  --orange-11: #ffba6e;
  --orange-12: #fee2c8;

  --orange-a1: #e82b0008;
  --orange-a2: #f45d000f;
  --orange-a3: #fb7b0023;
  --orange-a4: #fc730035;
  --orange-a5: #fd830042;
  --orange-a6: #fe971750;
  --orange-a7: #ffa93b65;
  --orange-a8: #feac4f87;
  --orange-a9: #ffb86c;
  --orange-a10: #ffb564f2;
  --orange-a11: #ffba6e;
  --orange-a12: #ffe3c9fe;
}
