.theme-dracula {
  --pink-1: #faf7f8;
  --pink-2: #f9f2f3;
  --pink-3: #f7e5e8;
  --pink-4: #f8d8de;
  --pink-5: #f3cad2;
  --pink-6: #ebbbc5;
  --pink-7: #e2a8b4;
  --pink-8: #d790a0;
  --pink-9: #a3144d;
  --pink-10: #91003f;
  --pink-11: #b82e5e;
  --pink-12: #5f1d31;

  --pink-a1: #f8f5ffa6;
  --pink-a2: #f0e5ff66;
  --pink-a3: #a708ca17;
  --pink-a4: #ce038f24;
  --pink-a5: #c2026c32;
  --pink-a6: #b2045942;
  --pink-a7: #a8024655;
  --pink-a8: #a2013b6d;
  --pink-a9: #9b0040eb;
  --pink-a10: #91003f;
  --pink-a11: #a8013fd1;
  --pink-a12: #4b0019e2;
}

.theme-dracula.dark-theme {
  --pink-1: #31282c;
  --pink-2: #382730;
  --pink-3: #4e2b3e;
  --pink-4: #622849;
  --pink-5: #6d2e52;
  --pink-6: #7b395e;
  --pink-7: #924671;
  --pink-8: #b3548b;
  --pink-9: #ff79c6;
  --pink-10: #f36ebb;
  --pink-11: #ff8bd3;
  --pink-12: #fdd1e7;

  --pink-a1: #f900000b;
  --pink-a2: #ff020013;
  --pink-a3: #fb30632e;
  --pink-a4: #ff237d45;
  --pink-a5: #ff378d52;
  --pink-a6: #fe519e63;
  --pink-a7: #ff63ae7e;
  --pink-a8: #ff6bbaa5;
  --pink-a9: #ff79c6;
  --pink-a10: #ff72c3f1;
  --pink-a11: #ff8bd3;
  --pink-a12: #ffd3e9fd;
}
