.theme-dracula {
  --purple-1: #f7f7fa;
  --purple-2: #f4f3fb;
  --purple-3: #ececfb;
  --purple-4: #e1e0ff;
  --purple-5: #d6d4ff;
  --purple-6: #c8c5fc;
  --purple-7: #b5b0f4;
  --purple-8: #9c94eb;
  --purple-9: #644ac9;
  --purple-10: #5640af;
  --purple-11: #5e48b8;
  --purple-12: #302562;

  --purple-a1: #f5f6ffc0;
  --purple-a2: #f2f1ffcc;
  --purple-a3: #e8e9ffcc;
  --purple-a4: #e1e0ff;
  --purple-a5: #d6d4ff;
  --purple-a6: #bfbcffd9;
  --purple-a7: #5b55ff73;
  --purple-a8: #0f01eb69;
  --purple-a9: #2400bbb4;
  --purple-a10: #1c009bbe;
  --purple-a11: #1e00a4b6;
  --purple-a12: #0d014bda;
}

.theme-dracula.dark-theme {
  --purple-1: #2d2836;
  --purple-2: #312a3c;
  --purple-3: #413157;
  --purple-4: #4c356b;
  --purple-5: #543b76;
  --purple-6: #5e4382;
  --purple-7: #6d4f96;
  --purple-8: #845eb6;
  --purple-9: #bd93f9;
  --purple-10: #b288ed;
  --purple-11: #cca2ff;
  --purple-12: #e7dbfd;

  --purple-a1: #fd003706;
  --purple-a2: #f92bc20b;
  --purple-a3: #c055ff2a;
  --purple-a4: #af54fd44;
  --purple-a5: #b15ffd52;
  --purple-a6: #b66cfe61;
  --purple-a7: #b878ff7a;
  --purple-a8: #b87cffa3;
  --purple-a9: #c196fff8;
  --purple-a10: #c091fee9;
  --purple-a11: #cca2ff;
  --purple-a12: #e9ddfffd;
}
