.theme-dracula {
  --yellow-1: #f9f8f5;
  --yellow-2: #f9f5e9;
  --yellow-3: #fcefc4;
  --yellow-4: #f9e7a7;
  --yellow-5: #f3dc8d;
  --yellow-6: #e4cd80;
  --yellow-7: #d2bd74;
  --yellow-8: #bea650;
  --yellow-9: #846e15;
  --yellow-10: #766000;
  --yellow-11: #836d14;
  --yellow-12: #433c23;

  --yellow-a1: #f4f6ff80;
  --yellow-a2: #2521a307;
  --yellow-a3: #eeb4042b;
  --yellow-a4: #ebb7014a;
  --yellow-a5: #e1ad0066;
  --yellow-a6: #c5970275;
  --yellow-a7: #a7820282;
  --yellow-a8: #9d7a02a9;
  --yellow-a9: #786001e9;
  --yellow-a10: #766000;
  --yellow-a11: #786001ea;
  --yellow-a12: #231c01da;
}

.theme-dracula.dark-theme {
  --yellow-1: #2b2b26;
  --yellow-2: #2f3029;
  --yellow-3: #3a3c2b;
  --yellow-4: #43452c;
  --yellow-5: #4c4f2f;
  --yellow-6: #575a36;
  --yellow-7: #656941;
  --yellow-8: #777b4c;
  --yellow-9: #f1fa8c;
  --yellow-10: #e8f083;
  --yellow-11: #dde585;
  --yellow-12: #ecf1c5;

  --yellow-a1: #e86a0004;
  --yellow-a2: #efd40009;
  --yellow-a3: #f9fb0016;
  --yellow-a4: #f9fb0021;
  --yellow-a5: #f4fc0f2d;
  --yellow-a6: #f7fe363a;
  --yellow-a7: #f5fe5b4c;
  --yellow-a8: #f8ff7061;
  --yellow-a9: #f5fe8efa;
  --yellow-a10: #f5fe88ee;
  --yellow-a11: #f6ff90e0;
  --yellow-a12: #f9fecfef;
}
