// Fonts
// -----------------------------
$font-family:        system-ui,
             -apple-system, BlinkMacSystemFont,
             "Segoe UI",
             "Roboto",
             "Oxygen",
             "Ubuntu",
             "Cantarell",
             "Fira Sans",
             "Droid Sans",
             "Helvetica Neue",
             Arial, sans-serif;
$font-family-mono:   ui-monospace,
             Menlo, Monaco,
             "Cascadia Mono", "Segoe UI Mono",
             "Roboto Mono",
             "Oxygen Mono",
             "Ubuntu Mono",
             "Source Code Pro",
             "Fira Mono",
             "Droid Sans Mono",
             "Consolas", "Courier New", monospace;
$base-font-size:      0.875rem; // ~14px
$form-control-font-size: 0.831rem; // ~13.3px

// Layout
// ------------------------------

// Buttons
$btn-border-radius:         8px;
$btn-border-radius-small:   6px;

// Inputs
$input-height:              26px;
$input-radius:              4px;

// Padding
$gutter-w:                  0.8rem;
$gutter-h:                  0.4rem;

// Sidebar
$sidebar-w:                 400px;
$sidebar-min-w:             300px;
$sidebar-max-w:             90%;
$sidebar-icon-w:            1.4rem;

// Query Editor
$tab-height:                2.4rem;

// Statusbar
$statusbar-height:          2.6rem;
