// Fonts
$material-icons-font-path: '~material-icons/iconfont/';
$font-family:        'Roboto';
$font-family-mono:   'Source Code Pro';
$base-font-size:      1rem; // ~14px

@import '~material-icons/iconfont/material-icons.scss';

*, *:after, *:before {
  box-sizing: border-box;
}
:root {
  font-size: $base-font-size;
  font-family: $font-family, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  -webkit-user-select: none; 
}
body {
  font-size: 1rem;
  background: $theme-bg;
}