
// Global
// ------------------------
:root {
  font-family: $font-family, Helvetica, Arial, sans-serif;
  font-size: $base-font-size;
  background: $theme-bg;
  color: $theme-base;
}
body {
  @extend :root;
}
::selection {
  background: rgba($theme-primary, 0.25);
}
::placeholder {
  color: $placeholder;
}
a {
  display: inline-block;
  align-items: center;
  color: $link-color;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:focus {
    color: $link-color;
    text-decoration: none;
  }
  &.disabled, &.disabled:hover {
    cursor: initial;
    opacity: 0.25;
  }
}
.expand {
  flex-grow: 1;
}
.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// Material-icons
.material-icons {
  font-size: 18px;
}

// Scrollbar
// ---------------------
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 1px;
  background: rgba($theme-base, 0.06);
}
::-webkit-scrollbar-thumb {
  background: rgba($theme-base, 0.37);
}
::-webkit-scrollbar-button {
  display: none;
}

// ---------------------------------
// Bootstrap Overrides - so I can scrap it all but the grid
// ---------------------------------

// Inputs
// -----------------------
.form-control {
  display: block;
  width: 100%;
  height: $input-height;
  padding: 0 0.75rem;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: $text;
  //background-color: rgba($theme-base, 0.06);
  background: transparent;
  background-clip: padding-box;
  border: none;
  border-radius: $input-radius;
  outline: 0;
  width: 100%;
  box-shadow: 0 0 0 1px rgba($theme-base, 0.1);
  transition: border-color 0.15s ease-in-out, 
              box-shadow 0.15s ease-in-out,
}
input, select, textarea {
  @extend .form-control;
  &:focus {
    box-shadow: 0 0 0 1px $input-highlight;
  }
}
select {
  border: 0!important; 
  -webkit-appearance: none; 
  appearance: none;
  background: #0088cc url(/select-arrow.svg) no-repeat 90% center;
  padding: 5px;
}
.text-success {
  color: $brand-success!important;
}
.text-info {
  color: $brand-info!important;
}
.text-danger {
  color: $brand-danger!important;
}
.text-warning {
  color: $brand-warning!important;
}

// Cards
.card-shadow {
  box-shadow: 0 0 0 1px rgba(black ,0.06),
              0 1px 3px 0 rgba(black ,0.12),
              0 2px 1px -1px rgba(black ,0.08);
  transition: box-shadow 0.28s ease-in-out;
}
.card-shadow-hover {
  box-shadow: 0 0 0 1px rgba(black ,0.06),
              0 1px 2px rgba(black ,0.08),
              0 6px 15px rgba(black ,0.12);
}

// Nav
// ----------------------------------
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-tabs {
  border: 0;
  .nav-link {
    border: 0;
    &.active {
      border: 0;
      background: $query-editor-bg;
    }
  }
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

// Badge
// -------------------
.badge {
  display: inline-block;
  padding: 0 0.35rem;
  border-radius: 2px;
  font-size: 80%;
  font-weight: normal;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  transition: color 0.15s ease-in-out, 
              background-color 0.15s ease-in-out, 
              border-color 0.15s ease-in-out, 
              box-shadow 0.15s ease-in-out;
}

// Slit.js Resizer
.gutter {
  position: relative;
  width: 0!important;
  &.gutter-horizontal,
  &.gutter-vertical {
    display: flex;
    background-color: tranparent;
    z-index: 10;
  }
  &.gutter-horizontal {
    cursor: col-resize;
    &:after {
      height: 100%;
      width: 8px;
      left: -4px;
    }
  }
  &.gutter-vertical {
    cursor: row-resize;
    &:after {
      height: 8px;
      width: 100%;
      top: -4px;
    }
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 10;
  }
}
