@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons');


// Colors
// -----------------------------
$gray-dark:          rgba(black, 0.87);
$gray:               rgba(black, 0.67);
$gray-light:         rgba(black, 0.57);
$gray-lighter:       rgba(black, 0.37);

$brand-info:         #0072ff;
$brand-success:      #15db95;
$brand-warning:      #15db95;
$brand-danger:       #15db95;
$brand-default:      $gray-light;

// Brand Colors
$brand-primary:      $brand-info;
$brand-secondary:    $brand-success;

// General
$border-color:       rgba(black, 0.1);
$text-color:         $gray;
$link-color:         $gray-dark;
$placeholder:        $gray-lighter;
$selection:          rgba($brand-primary, 0.2);

// Font
$font-family:        'Roboto';
$font-family-mono:   'Roboto Mono';
$base-font-size:      13px;

// Inputs

// Layout
// -----------------------------
$resize-gutter:       8px;

// Sidebar
$sidebar-w:           250px;
$sidebar-min-w:       200px;
$sidebar-max-w:       90%;
$sidebar-padding-w:   0.75rem;
$sidebar-padding-h:   0.4rem;
$item-icon-w:         2rem;

// Query Editor
$query-editor-bg:     white;
$tab-height:          36px;
$tab-padding-w:       0.65rem;