@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons');

// Theme
// ---------------------------
$theme-bg:           #282828;
$theme-base:         #fff;
$theme-primary:      #F9A220;
$theme-secondary:    #FCCB11;

// Colors
// -----------------------------
$white:              white;
$black:              black;
$text-dark:          rgba($theme-base, 0.87);
$text:               rgba($theme-base, 0.67);
$text-light:         rgba($theme-base, 0.57);
$text-hint:          rgba($theme-base, 0.37);
$text-disabled:      rgba($theme-base, 0.37);

$brand-info:         #0072ff;
$brand-success:      #15db95;
$brand-warning:      #f39c12;
$brand-danger:       #e74c3c;
$brand-default:      rgba($theme-base, 0.57);

$brand-primary:      $theme-primary;
$brand-secondary:    $brand-info;

// General
$border-color:       rgba($theme-base, 0.1);
$link-color:         $text-dark;
$placeholder:        $text-hint;
$selection:          rgba($theme-primary, 0.2);

// Font
$font-family:        'Roboto';
$font-family-mono:   'Roboto Mono';
$base-font-size:      13px;
  
// Buttons
$btn-border-radius:   4px;

// Inputs
$input-padding-h:     0;
$input-height:        30px;
$input-padding-w:     0.75rem;
$input-highlight:     $brand-info;
$input-radius:        3px;

// Layout
// -----------------------------
$gutter-w:            0.85rem;
$gutter-h:            0.4rem;

// Sidebar
$sidebar-w:           250px;
$sidebar-min-w:       200px;
$sidebar-max-w:       90%;
$sidebar-icon-w:      1.8rem;
$db-select-text:      white;

// Query Editor
$query-editor-bg:     $theme-bg;
$tab-height:          46px;
$tab-padding-w:       0.65rem;