
.connection-interface {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  .sidebar {
    width: $sidebar-w;
    min-width: $sidebar-min-w;
    max-width: $sidebar-max-w;
  }
}
.connection-main {
  .card {
    padding: 1.5rem;
  }
  .save-connection {
    h3 {
      margin-top: 1.5rem;
      margin-bottom: 0.75rem;
    }
    .btn {
      margin-left: 0.5rem;
    }
  }
}