
.core-tabs {
  position: relative;
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  .tab-content, .tab-pane {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: $query-editor-bg;
  }
  .tab-pane {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $query-editor-bg;
    &.active {
      display: flex;
      z-index: 1;
    }
  }
  .tabs-header {
    display: flex;
    align-items: center;
    background: $tabs-bg;
    -webkit-app-region: drag;
    .add-query {
      i {
        color: $text-lighter;
        transition: all 0.2s ease-in-out;
      }
      &:hover {
        background: none;
        i {
          color: $text-dark;
        }
      }
    }
  }
  .nav-tabs {
    position: relative;
    overflow: hidden;
    flex-wrap: nowrap;
    margin: 0;
    height: $tab-height;
    -webkit-app-region: no-drag;
    .nav-item-wrap {    
      min-width: 28px;
      overflow: hidden;
    }
    .nav-item-wrap-chosen {
      background: lighten($theme-bg, 3%);
      opacity: 0.5;
    }
    .nav-item {
      max-width: 200px;    
      min-width: 28px;
      overflow: hidden;
    }
    .nav-link {
      position: relative;
      display: flex;
      align-items: center;
      background: lighten($theme-bg, 3%);
      padding: 0;
      height: $tab-height;
      font-size: 0.85rem;
      font-weight: normal;
      color: $text;
      border: 0;
      border-radius: 6px 6px 0 0;
      border-right: 1px solid $theme-bg;
      overflow: hidden;
      &.active {
        background: $query-editor-bg;
        font-weight: 600;
        color: $text-dark;
        box-shadow: none;
        &:hover {
          background: $query-editor-bg;
        }
        .tab-action {
          background: linear-gradient(-90deg, rgba($query-editor-bg, 100%) 80%, rgba($query-editor-bg, 0) 100%);
        }
        .tab-close {
          .close {
            display: inline-block;
          }
          &.unsaved {
            .close {
              display: none;
            }
            &:hover {
              .unsaved-icon {
                display: none;
              }
            }
          }
        }
      }
      &:hover {
        .tab-close {
          .close {
            display: inline-block;
          }
          &:hover {
            .unsaved-icon {
              display: none;
            }
          }
          &.unsaved {
            .close {
              display: none;
            }
            &:hover {
              .close {
                display: inline-block;
              }
            }
          }
        }
      } 
    }
    .tab-title {
      text-overflow: initial;
      padding-right: 28px;
      &:before {
        display: block;
        content: attr(title);
        font-weight: 600!important;
        height: 0;
        overflow: hidden;
        visibility: hidden;
      }
      .tab-title-scope {
        position: relative;
        color: $text-lighter;
        font-size: 95%;
        font-style: italic;
        font-weight: normal!important;
      }
    }
    .item-icon {
      font-size: 12px;
      padding-left: ($gutter-w * 0.75);
      padding-right: ($gutter-h * 1.25);
      max-width: $gutter-w * 3;
      line-height: $tab-height;
    }
    .tab-action {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      min-width: 24px;
      background: linear-gradient(-90deg, rgba(lighten($theme-bg, 3%), 100%) 80%, rgba(lighten($theme-bg, 3%), 0) 100%);
    }
    .tab-close {
      position: absolute;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 24px;
      .material-icons {
        position: absolute;
        display: none;
        font-size: 12px;
        font-weight: bold;
        color: $text;
        transition: none;
      }
      &.unsaved {
        .unsaved-icon {
          display: inline-block;
        }
      }
    }
  }
  .actions {
    padding: 0 $gutter-h;
    -webkit-app-region: no-drag;
  }
}

// Move Later
.tabletable {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: $statusbar-height;
  .statusbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .btn-fab {
    .material-icons {
      font-size: 16px;
    }
  }
}
.table-filter {
  width: 100%;
  .filter-group {
    padding: $gutter-h;
    margin-left: -($gutter-h * 0.5);
    margin-right: -($gutter-h * 0.5);
    > * {
      display: inline-flex;
      padding-left: ($gutter-h * 0.5);
      padding-right: ($gutter-h * 0.5);
      margin: 0;
    }
    .select-wrap {
      padding-right: $gutter-h;
      border-radius: $input-radius;
      overflow: hidden;
      width: 100%;
      box-shadow: none;
      border: 0;
      background: rgba($theme-base, 0.05);
      transition: background 0.15s ease-in-out;
      cursor: pointer;
      &:hover {
        background: rgba($theme-base, 0.05);
      }
      > select {
        border: 0;
        padding-right: 1.25rem;
        min-width: 120px;
      }
    }
    .btn-primary {
      // background: $text-dark;
      &:hover, 
      &:focus {
        // background: lighten($text-dark, 10%);
        background: lighten($theme-primary, 10%);
      }
      .material-icons {
        color: rgba(black, 0.87);
        font-weight: bold;
      }
    }
    @media (max-width: 850px) {
      flex-wrap: nowrap;
      .select-wrap {
        > select {
          min-width: 30px;
        }
      }
    }
  }
  .filter {
    position: relative;
    .filter-wrap {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
    }
    input {
      background: rgba($theme-base, 0.05);
      padding-right: 26px;
      box-shadow: none;
      border: 0;
      // border-radius: 0;
      // border-bottom: 1px solid $border-color;
    }
    .clear {
      position: absolute;
      right: 0;
      display: flex;
      align-items: center;
      background: transparent;
      color: rgba($theme-base, 0.5);
      outline: none;
      border: 0;
      padding: 0;
      cursor: pointer;
      &:hover {
        color: $text-dark;
      }
      i {
        font-size: 14px;
        width: 26px;
      }
    }
  }
}
  