

// App Layout
.interface {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .sidebar {
    width: $sidebar-w;
    min-width: $sidebar-min-w;
    max-width: $sidebar-max-w;
  }
  .page-content {
    flex: 0 1 100%;
    box-shadow: -1px 0 $border-color;
    z-index: 1;
    .top-panel, .bottom-panel {
      display: flex;
      flex-direction: column;
    }
  }
}