
.core-tabs {
  background: rgba(black, 0.08);
  .nav-tabs {
    .nav-link {
      display: flex;
      align-items: center;
      padding: 0 $tab-padding-w;
      height: $tab-height;
      background: rgba(white, 0.4);
      color: $text-color;
      transition: background 0.15s ease-in-out;
      border: 0;
      box-shadow: inset -1px 0 $query-editor-bg;
      &:hover {
        background: rgba(black, 0.025);
      }
      &.active {
        border: 0;
        background: $query-editor-bg;
        font-weight: bold;
        color: black;
        &:hover {
          background: $query-editor-bg;
        }
      }
      &.add-query {
        background: transparent;
        box-shadow: none;
        &:hover {
          background: rgba(black, 0.025);
        }
      }
    }
  }
}
