.query-editor {
  background: $query-editor-bg;
  .editor {
    width: 100%;
    height: 400px;
    box-shadow: none;
    border: 0;
    outline: none;
  }
  .actions {
    background: rgba($theme-base, 0.06);
    box-shadow: inset 0 -1px rgba($theme-base, 0.035);
    .btn {
      height: 28px;
      display: inline-flex;
      padding: 0 $gutter-w;
      border-radius: 0;
      text-transform: uppercase;
      font-size: 0.85rem;
      border: 0;
      border-left: 1px solid rgba($theme-bg, 0.5);
      transition: background 0.2s ease-in-out;
      &.btn-primary {
        background: rgba($theme-base, 0.025);
        color: $theme-primary;
      }
      &:hover, &:focus {
        background: rgba($theme-base, 0.05);
        outline: 0;
        border: 0;
      }
    }
  }
  .bottom-panel {
    padding: 0.5rem;
    height: 300px;
  }
}

// CodeMirror - Overrides
// ----------------------
.CodeMirror {
  font-family: $font-family-mono, monospace;
  background: $query-editor-bg;
  padding: 0.75rem 0;
}
.CodeMirror-gutters {
  border: 0;
  background: transparent;
}
