.query-editor {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: $query-editor-bg;
  .editor {
    width: 100%;
    height: 400px;
    box-shadow: none;
    border: 0;
    outline: none;
  }
  .top-panel, .bottom-panel {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: $query-editor-bg;
    padding: $gutter-h;
    z-index: 1;
    .title {
      line-height: 1;
    }
    .actions {
      display: flex;
      align-items: center;
    }
    .btn-fab {
      i {
        line-height: 26px;
        font-size: 18px;
      }
    }
  }
  .top-panel {  
    .toolbar {
      box-shadow: inset 0 -1px $border-color;
      .btn {
        height: 24px;
        line-height: 24px;
        padding: 0 $gutter-w;
        font-size: 0.85rem;
        min-width: 48px;
      }
    }
  }
  .bottom-panel {
    .toolbar {
      padding-top: $gutter-h * 0.5;
      padding-bottom: $gutter-h * 0.5;
      padding-left: ($gutter-h * 1.5);
      background: lighten($query-editor-bg, 1%);
    }
    .result-table {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
    .not-run-yet {
      padding: 0.5rem 0.75rem;
    }
    .status-bar {
      color: $text-light;
      .btn {
        display: flex;
        align-items: center;
      }
      .affected-rows {
        padding-left: 10px;
      }
    }
    .alert {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1 1 100%;
      padding: 0;
      background: transparent;
    }
  }

  // Modal
  // ------------------------------
  .v--modal {
    max-width: 400px;
  }
}

.progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 100%;
}
