.query-editor {
  background: $query-editor-bg;
  .actions {
    background: rgba($theme-base, 0.06);
  }
  .top-panel {
    padding-top: 0.5rem;
  }
  .bottom-panel {
    padding: 0.5rem;
  }
}

// CodeMirror - Overrides
// ----------------------
.CodeMirror {
  font-family: $font-family-mono, monospace;
  background: $query-editor-bg;
}
.CodeMirror-gutters {
  border: 0;
  background: transparent;
}
