.query-editor {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: $query-editor-bg;
  .editor {
    width: 100%;
    height: 100%;
    box-shadow: none;
    border: 0;
    outline: none;
  }
  .monaco-editor {
    .highlight {
      background-color: rgba($brand-secondary, 0.2);
    }
  }
  .top-panel, .bottom-panel {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: $query-editor-bg;
    padding: $gutter-h $gutter-w;
    z-index: 1;
    .title {
      line-height: 1;
    }
    .actions {
      display: flex;
      align-items: center;
      padding: 0;
    }
    .btn-fab {
      i {
        line-height: 26px;
        font-size: 18px;
      }
    }
  }
  .top-panel {
    .toolbar {
      box-shadow: inset 0 -1px $border-color;
      .btn, x-button {
        // height: 24px;
        // line-height: 24px;
        // padding: 0 $gutter-w;
        // font-size: 0.85rem;
        // min-width: 0;
        // &[menu] {
        //   padding: 0;
        // }
      }
    }
  }
  .bottom-panel {
    .toolbar {
      padding-top: $gutter-h * 0.5;
      padding-bottom: $gutter-h * 0.5;
      padding-left: ($gutter-h * 1.5);
      background: lighten($query-editor-bg, 1%);
    }
    .result-table {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      overflow: hidden;
    }
    .not-run-yet {
      padding: 0.5rem 0.75rem;
    }
    .message {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1 1 100%;
      padding: 0 $gutter-w;
      background: transparent;
    }
    .alert {
      // background: transparent;
      max-width: 70%;
      margin: 0 auto;
    }
  }

  // Modal
  // ------------------------------
  .v--modal {
    max-width: 400px;
  }
}

.progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 100%;
  .cancel-query {
    margin-top: $gutter-h;
  }
}
