.selectise {
  font-size: 15px;
  box-sizing: border-box;
  position: relative;
  margin-top: $gutter-h;
  cursor: pointer;
  .selectise-trigger {
    @extend .truncate;
    background: transparent;
    display: flex;
    align-items: center;
    flex: 0 1 100%;
    align-items: center;
    color: $text-dark;
    font-size: 1.1rem;
    height: $input-height;
    padding: 0 $input-padding-w;
    padding-right: 30px;
    cursor: pointer;
    &::after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: $text transparent transparent transparent;
  
      position: absolute;
      top: 50%;
      right: $gutter-w;
      transform: translateY(-50%);
    }
  }
  &.selectise-open {
    .selectise-options {
      display: flex;
    }
  }
  .selectise-options {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 3px;
    background: lighten($theme-bg, 5%);
    z-index: 20;
    overflow-x: hidden;
    
    font-weight: 400;
    font-size: 1rem;
    max-height: 350px;
    border-radius: $input-radius;
    padding: ($gutter-h * 1.5) 0;
    margin-top: -2.4rem;
    @extend .card-shadow;
  }
  .selectise-option {
    padding: $gutter-h $gutter-w;
    transition: background 0.15s ease-in-out;
    cursor: pointer;
    &:hover {
      background: rgba($theme-base, 0.1);
    }
  }
}
