
#sidebar {
  flex: 0 1 100%;
  overflow-x: hidden;
  box-shadow: inset -1px 0 $border-color;
  > div {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  // Sidebar Header
  .data-select-wrap {
    display: flex;
    align-items: center;
    height: $tab-height - 1px; // Nav tabs fix
    min-height: $tab-height - 1px; // Nav tabs fix
    padding: 0 $gutter-w;
    box-shadow: inset 0 -1px $border-color;
  }
  .database-select {
    display: block;
    font-size: 110%;
    font-weight: 600;
    margin: 0;
    width: 100%;
    border: 0;
    .selectise-trigger {
      color: $db-select-text;
      border-radius: $input-radius;
      height: $input-height * 1.1;
      &::after {
        border-color: $db-select-text transparent transparent transparent;
      }
    }
    &:focus {
      outline: 0;
    }
  }

  // Search
  .search-wrap {
    position: relative;
    display: flex;
    align-items: center;
    padding: $gutter-w $gutter-w;
    i {
      font-size: 16px;
      position: absolute;
      margin-top: 2px;
      left: $gutter-w;
    }
  }

  // Tables
  .sidebar-heading {
    font-size: 85%;
    padding: $gutter-h $gutter-w;
    text-transform: uppercase;
    font-weight: bold;
  }

  // Quick Connect 
  .quick-connect {
    background: $brand-info;
    //height: $tab-height;
    i {
      margin-right: 0.5rem;
    }
  }
}

// List Group
// ------------------------------
.list-group {
  width: 100%;
  .btn-wrap {
    padding: $gutter-w;
  }
  a, .sub-item {
    display: flex;
    align-items: center;
    flex: 0 1 100%;
  }
  a {
    color: $text-dark;
    padding: $gutter-h $gutter-w;
    padding-left: $gutter-w;
    line-height: 1.4;
    &:hover {
      background: rgba($theme-base, 0.06);
    }
  }
  h5 {
    padding: $gutter-h $gutter-w;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.025rem;
    font-weight: 400;
    color: $text-light;
    line-height: 2;
  }
  .sub-items {
    display: flex;
    flex-direction: column;
    color: $text;
    padding: ($gutter-h * 0.5) 0;
    .title {
      flex-grow: 1;
    }
  }
  .sub-item {
    padding-top: $gutter-h * 0.5;
    padding-bottom: $gutter-h * 0.5;
    padding-right: $gutter-w;
    padding-left: $gutter-w + $sidebar-icon-w;
  }
  .item-icon {
    font-size: 15px;
    width: $sidebar-icon-w;
    transition: transform 0.15s ease-in;
    color: $theme-secondary;
  }
  .badge
  .badge-info {
    background: $brand-info;
  }
  
  // Collapse
  .collapse {
    display: none;
    &.show {
      display: flex;
    }
  }
}