
#sidebar {
  overflow-x: hidden;

  // Sidebar Header
  .data-select-wrap {
    .status {
      display: flex;
      align-items: center;
      padding: 0 $sidebar-padding-w;
      padding-top: $sidebar-padding-h * 2;
      padding-bottom: 0;
      label {
        flex-grow: 1;
        margin: 0;
        font-size: 85%;
        color: $gray-light;
      }
      small {
        align-items: center;
        display: flex;
      }
      .material-icons {
        font-size: 10px;
        margin-right: 0.25em;
      }
    }
  }
  .database-select {
    background: rgba(white, 0.9);
    color: $gray-dark;
    font-size: 110%;
    font-weight: 500;
    &:focus {
      outline: 0;
    }
  }

  // Search
  .search-wrap {
    position: relative;
    display: flex;
    align-items: center;
    i {
      font-size: 16px;
      position: absolute;
      margin-top: 2px;
      left: $sidebar-padding-w;
    }
    input {
      border: 0;
      padding-left: 32px;
      box-shadow: none;
      &:focus {
        box-shadow: 0 1px $brand-primary;
      }
    }
  }

  // Tables
  .sidebar-heading {
    font-size: 85%;
    padding: $sidebar-padding-h $sidebar-padding-w;
    margin-top: $sidebar-padding-h;
    text-transform: uppercase;
    font-weight: bold;
  }
  nav {
    padding-top: $sidebar-padding-h;
    padding-bottom: $sidebar-padding-h;
    a, .sub-item {
      display: flex;
      align-items: center;
      flex: 0 1 100%;
    }
    a {
      color: $gray-dark;
      padding: $sidebar-padding-h $sidebar-padding-w;
      padding-left: $sidebar-padding-w;
      &:hover {
        background: rgba(black, 0.06);
      }
      &.active, 
      &.active:hover, 
      &.active:focus {
        background: rgba($brand-primary, 0.1);
      }
    }
    .sub-items {
      display: flex;
      flex-direction: column;
      color: $gray;
      padding: $sidebar-padding-h 0;
      .title {
        flex-grow: 1;
      }
    }
    .sub-item {
      padding-top: $sidebar-padding-h * 0.25;
      padding-bottom: $sidebar-padding-h * 0.8;
      padding-right: $sidebar-padding-w;
      padding-left: $sidebar-padding-w + $item-icon-w;
    }
    .item-icon {
      font-size: 16px;
      width: $item-icon-w;
      opacity: 0.75;
      transition: transform 0.15s ease-in;
      color: $brand-primary;
    }
    .badge-info {
      background: $brand-info;
    }
    
    // Collapse
    .collapse {
      display: none;
      &.show {
        display: flex;
      }
    }
  }
}

