.titlebar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba($theme-base, 0.1);
  padding: $gutter-h;
  margin: 0;
  -webkit-app-region: drag;
  .window-title {
    color: $text-light;
    font-size: 0.85rem;
  }
}

// Windows Titlebar
// --------------------------
#windows-titlebar {
  .window-icon {
    display: flex;
    align-items: center;
    width: 120px;
    img {
      height: 18px;
      width: 32px;
    }
  }
  .window-actions {
    display: flex;
    margin: -$gutter-h;
    margin-left: 0;
    -webkit-app-region: no-drag;
    button {
      display: flex;
      align-items: center;
      min-width: 0;
      border-radius: 0;
      color: $text-light;
      margin: 0;
      padding: 0 0.75rem;
      height: 30px;
      z-index: 10;
      &:hover {
        color: $text-dark;
      }
    }
    #maximize {
      i {
        font-size: 16px;
      }
      &:hover {
        background: $brand-info;
      }
    }
    #quit {
      &:hover {
        background: $brand-danger;
      }
    }
  }
}
