hr {
  min-height: 0;
  width: 100%;
  height: 1px;
  margin: ($gutter-h * 0.75) 0;
  box-sizing: border-box;
  background: transparent;
  border: 0;
  pointer-events: none;
  + hr, &:last-child {
    display: none;
  }
}

// ------ Theme Customization ------

.BksContextMenu-item {
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.BksContextMenu-item-shortcut {
  opacity: 0.5;
}
