hr {
  min-height: 0;
  width: 100%;
  height: 1px;
  margin: ($gutter-h * 0.75) 0;
  box-sizing: border-box;
  background: transparent;
  border: 0;
  pointer-events: none;
  + hr, &:last-child {
    display: none;
  }
}

// ------ Theme Customization ------

.BksContextMenu-list {
  background: var(--menu-bg);
  color: $text;
}

.BksContextMenu-item {
  color: $text-dark;
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  &:hover {
    background: rgba($theme-base, 0.05);
  }
}

.BksContextMenu-item-shortcut {
  color: $text-dark;
  opacity: 0.5;
}

.BksContextMenu-item-divider, hr {
  border-top: 1px solid $border-color;
}
