@import "./text-editor-plugins/partial-read-only.scss";

.text-editor {
  &.remove-json-root-brackets .CodeMirror-code {
    & > div:first-child, & > div:last-child {
      display: none;
    }
  }

  .CodeMirror-foldgutter {
    width: 1.2rem;
  }

  .CodeMirror-foldgutter-open,
  .CodeMirror-foldgutter-folded {
    font-family: "Material Icons";
    font-size: 1.2rem;
    color: rgba($theme-base, 0.37);

    &:hover {
      color: $text-dark;
    }
  }

  .CodeMirror-foldgutter-open::after {
    content: "keyboard_arrow_down";
  }

  .CodeMirror-foldgutter-folded::after {
    content: "keyboard_arrow_right";
  }

  .CodeMirror-gutter-background.changed {
    border-left: 2px solid $brand-warning;
  }

  .CodeMirror-guttermaker-subtle {
    color: rgba($theme-base, 0.25);
  }

  .bks-error-marker {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgba($brand-danger, 0.6);
  }
}
