@import "./app/vendor/codemirror";


// Global
$badge-bg:                 rgba($theme-base, 0.1);

// Sidebar
$sidebar-list-icons:       darken($theme-primary, 15%);

// Editor
$tabs-heading:             rgba($theme-base, 0.08);
$tab-link:                 darken($theme-bg, 9%);
$codemirror-hint-bg:       darken($theme-bg, 2%);
$editor-statusbar:         rgba($theme-base, 0.035);


// Base Styles
// -----------------------------------------
& {
  background: $theme-bg;
  color: $text;
}
select {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8' fill='rgba(0,0,0, 0.87)'><polygon points='0,0 8,0 4,4'/></svg>") no-repeat scroll 98% 60% transparent !important;
}
::selection {
  background: rgba($brand-info, 0.25);
}
.btn {
  box-shadow: inset 0 0 0 1px rgba($theme-base, 0.035);
}
.btn-link, .btn-fab {
  box-shadow: none;
}
.list-group {
  .list-item-btn {
    .actions {
      i {
        color: $text-light;
      }
      .btn-fab.pinned {
        i {
          color: $text-dark;
        }
      }
    }
  }
}
.badge {
  background: $badge-bg;
  color: $text-dark;
}
.text-danger {
  color: $brand-danger!important;
}

// File-Menu
// ---------------------------------------
.flyout-nav {
  > .menu-bar {
    .top-menu-item {
      > a {
        > .label {
          color: $text-light;
        }
      }
    }
  }
}

// Sidebar
// ---------------------------------------
.advanced-connection-settings {
  background: rgba($theme-base, 0.05);
}

// Editor
// ---------------------------------------
.core-tabs {
  .tabs-header {
    background: $tabs-bg;
  }
  .nav-tabs {
    .nav-link {
      background: $tab-link;
      // &.active {
      //   box-shadow: inset 0 1px $theme-primary;
      // }
    }
    .tab-action {
      background: linear-gradient(-90deg, $tab-link 80%, $tab-link 100%);
    }
    .tab-close {
      .material-icons {
        color: $text-lighter;
        &.close {
          color: $text-dark;
        }
      }
    }
  }
}

// Tabulator
.tabulator-row {
  &:nth-child(odd) {
    background: rgba(white, 0.42);
  }
}
.tabulator {
  .tabulator-header {
    .tabulator-col.foreign-key {
      &:before {
        color: darken($brand-primary, 15%);
      }
    }
  }
}

// CodeMirror
.CodeMirror-hints {
  background: $codemirror-hint-bg;
}

// Statusbar
.statusbar {
  color: $text;
  @each $key, $val in $color-defaults {
    &.#{$key} {
      background-color: rgba(nth($val, 1), 0.45);
    }
  }
}

// Switch
x-switch {
  color: darken($theme-primary, 10%);
}
