
// Connection Sidebar
// --------------------------------
.connection-sidebar {
  .list-body {
    height: fit-content
  }
  .sidebar-wrap {
    flex-grow: 1;
  }
  .list-group {
    padding: 0;
    min-height: 105px;
    height: 100%;
  }
  .list-item {
    border-bottom: 1px solid $theme-bg;
    .badge {
      min-width: fit-content;
    }
  }
  .connection-wrap {
    height: 100%;
    overflow: hidden;
    .list {
      height: 0;
      overflow: hidden;
      &.recent-connection-list {
        min-height: 185px;
      }
    }
  }
  .saved-connection-list {
    padding: 0;
    // margin-bottom: $gutter-h * 0.5;
    a {
      &.active {
        background-color: rgba($theme-base, 0.06);
      }
    }
  }
  .connection-title {
    overflow: hidden;
    padding-right: ($gutter-h * 0.75);
    .subtitle {
      font-size: 80%;
      color: $text-lighter;
      @extend .truncate;
    }
  }
  .list-item-btn {
    position: relative;
    margin-right: 0;
    height: initial;
    line-height: initial;
    padding: $gutter-h ($gutter-w * 0.75);
    .btn-fab {
      display: none;
      flex: 0;
      .material-icons {
        color: $text-dark;
      }
    }
    .dropdown {
      position: initial;
    }
    .dropdown-menu {
      top: 0.32rem;
      right: 0.4rem;
    }
  }
  .quick-connect {
    padding: $gutter-w;
  }
}