#sidebar {
  .global-items {
    display: flex;
    flex-direction: column;
    background: rgba($theme-base, 0.1);
    .nav-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      font-size: 18px;
      color: rgba($theme-base, 0.38);
      &:hover {
        color: $text-dark;
        transition: color 0.15s ease-in-out;
      }
      &.active {
        color: $text-dark;
        box-shadow: inset 2px 0 $text-dark;
      }
      .material-icons {
        font-size: 24px;
      }
    }
  }
}
