.sidebar-history {
  flex: 1 1 auto;
  height: 0;
  max-height: -webkit-fill-available;
  overflow-x: hidden;
  padding: $gutter-h 0 $gutter-w;
  .list-group {
    padding
    a {
      overflow: hidden;
      font-size: 0.9rem;
      color: $text
    }
    .item-text {
      padding-right: $gutter-w;
    }
    // .list-item-btn {
    //   padding: $gutter-h $gutter-w;
    // }
  }
}
