
// Pinned
// ----------------------------------
.pinned {
  .list-group {
    .list-item-btn {
      .actions {
        display: flex;
        .btn-fab {
          &.pinned {
            display: none;
          }
          &.unpin {
            display: inline-flex;
          }
        }
      }
    }
  }
}
.table-list {
  .list-group {
    .list-item-btn {
      padding: 0 ($gutter-h * 0.8);
    }
  }
}