
// Pinned
// ----------------------------------
.pinned {
  flex-grow: initial;
  .list-body {
    height: min-content;
    max-height: 70vh;
  }
  .list-group {
    .list-item-btn {
      .actions {
        display: flex;
        .btn-fab {
          &.pinned {
            display: none;
          }
          &.unpin {
            display: inline-block;
          }
        }
      }
    }
  }
}