
// Pinned
// ----------------------------------
.pinned {
  .list-group {
    .list-item-btn {
      .actions {
        display: flex;
        .btn-fab {
          &.pinned {
            display: none;
          }
          &.unpin {
            display: inline-flex;
          }
        }
      }
    }
  }
}
.table-list {
  .list-group {
    min-height: 105px;
    .list-item-btn {
      padding: 0;
      padding-right: $gutter-h * 0.5;
    }
  }
}