@import './app/normalize';
@import './app/variables';
@import './app/flex-grid';
@import './app/base';

body.theme-dark {
  @import './themes/dark/variables.scss';
  @import './vendor.scss';
  @import './app/_all.scss';
  @import './themes/dark/theme.scss';
}

body.theme-light {
  @import './themes/light/variables.scss';
  @import './vendor.scss';
  @import './app/_all.scss';
  @import './themes/light/theme.scss';
}

