
@import './app/normalize.scss';

body.theme-dark {
    @import './themes/dark.scss';

    font-family: $font-family, Helvetica, Arial, sans-serif;
    font-size: $base-font-size;
    -webkit-font-smoothing: antialiased;
    background: $theme-bg;
    color: $theme-base;

    @import './vendor.scss';
    @import './app/_all.scss';
}

body.theme-light {
    @import './themes/light.scss';

    font-family: $font-family, Helvetica, Arial, sans-serif;
    font-size: $base-font-size;
    -webkit-font-smoothing: antialiased;
    background: $theme-bg;
    color: $theme-base;

    @import './vendor.scss';
    @import './app/_all.scss';
}
