.theme-github {
  --gray-1: #fafcff;
  --gray-2: #f6fafe;
  --gray-3: #ebf1f8;
  --gray-4: #e2e9f3;
  --gray-5: #d9e2ee;
  --gray-6: #d0dbea;
  --gray-7: #c3d0e3;
  --gray-8: #abbdd6;
  --gray-9: #7e8fa7;
  --gray-10: #73859c;
  --gray-11: #576578;
  --gray-12: #18202b;

  --gray-a1: #0066ff05;
  --gray-a2: #0072e309;
  --gray-a3: #004da614;
  --gray-a4: #003e961d;
  --gray-a5: #003d8d26;
  --gray-a6: #003c8e2f;
  --gray-a7: #0038883c;
  --gray-a8: #00378354;
  --gray-a9: #00225281;
  --gray-a10: #00214b8c;
  --gray-a11: #001632a8;
  --gray-a12: #000915e7;
}

.theme-github.dark-theme {
  --gray-1: #0e1116;
  --gray-2: #15191e;
  --gray-3: #1d232a;
  --gray-4: #232a34;
  --gray-5: #29313d;
  --gray-6: #303a48;
  --gray-7: #3b485a;
  --gray-8: #50627a;
  --gray-9: #5d6f87;
  --gray-10: #6c7d94;
  --gray-11: #a7b5c7;
  --gray-12: #ebeef4;

  --gray-a1: #8d110002;
  --gray-a2: #f0f4de09;
  --gray-a3: #d0ecfe15;
  --gray-a4: #bdd9ff20;
  --gray-a5: #b7d4fe2a;
  --gray-a6: #b3d3ff36;
  --gray-a7: #accffe4a;
  --gray-a8: #aacfff6d;
  --gray-a9: #b1d2fd7c;
  --gray-a10: #bdd9fe8a;
  --gray-a11: #d8e9fec2;
  --gray-a12: #f6f9fff3;
}
