.theme-github {
  --orange-1: #fefcfb;
  --orange-2: #fff6f3;
  --orange-3: #ffece2;
  --orange-4: #ffd9c5;
  --orange-5: #ffcbb0;
  --orange-6: #ffbfa2;
  --orange-7: #f1ad8f;
  --orange-8: #e59672;
  --orange-9: #bc4c00;
  --orange-10: #ac3e00;
  --orange-11: #c65513;
  --orange-12: #542f1f;

  --orange-a1: #c0400004;
  --orange-a2: #ff40000c;
  --orange-a3: #ff58001d;
  --orange-a4: #ff58003a;
  --orange-a5: #ff58004f;
  --orange-a6: #ff50005d;
  --orange-a7: #e0450070;
  --orange-a8: #d042008d;
  --orange-a9: #bc4c00;
  --orange-a10: #ac3e00;
  --orange-a11: #c14700ec;
  --orange-a12: #3c1200e0;
}

.theme-github.dark-theme {
  --orange-1: #14100d;
  --orange-2: #1d1612;
  --orange-3: #321d11;
  --orange-4: #462009;
  --orange-5: #54290f;
  --orange-6: #63351c;
  --orange-7: #7a462a;
  --orange-8: #9d5b36;
  --orange-9: #db6d28;
  --orange-10: #cd6116;
  --orange-11: #ff9f6b;
  --orange-12: #f8dacb;

  --orange-a1: #ed000008;
  --orange-a2: #fd5c0011;
  --orange-a3: #ff600027;
  --orange-a4: #fc50003d;
  --orange-a5: #ff63004b;
  --orange-a6: #fe76255b;
  --orange-a7: #ff874173;
  --orange-a8: #ff8d4c98;
  --orange-a9: #fe7d2bda;
  --orange-a10: #fe7616cb;
  --orange-a11: #ff9f6b;
  --orange-a12: #ffe0d0f8;
}
