.theme-github {
  --red-1: #fffcfc;
  --red-2: #fff7f7;
  --red-3: #ffebe9;
  --red-4: #ffdbd7;
  --red-5: #ffcdc8;
  --red-6: #ffbdb7;
  --red-7: #f6a9a2;
  --red-8: #ee8e87;
  --red-9: #cf222e;
  --red-10: #be001f;
  --red-11: #d12530;
  --red-12: #661618;

  --red-a1: #ff000003;
  --red-a2: #ff000008;
  --red-a3: #ff180016;
  --red-a4: #ff1a0028;
  --red-a5: #ff180037;
  --red-a6: #ff160048;
  --red-a7: #e714005d;
  --red-a8: #db0f0078;
  --red-a9: #c8000edd;
  --red-a10: #be001f;
  --red-a11: #c9000dda;
  --red-a12: #580002e9;
}

.theme-github.dark-theme {
  --red-1: #160f0e;
  --red-2: #201312;
  --red-3: #3b1310;
  --red-4: #510f0e;
  --red-5: #621614;
  --red-6: #732420;
  --red-7: #8c342e;
  --red-8: #b6453e;
  --red-9: #da3633;
  --red-10: #b6453e;
  --red-11: #ff9084;
  --red-12: #ffd2cc;

  --red-a1: #f300000a;
  --red-a2: #f42a0015;
  --red-a3: #fc1c0031;
  --red-a4: #fe0a0048;
  --red-a5: #fe200f5a;
  --red-a6: #fe3e2d6c;
  --red-a7: #ff544386;
  --red-a8: #fe5b4fb3;
  --red-a9: #fe3c38d9;
  --red-a10: #fe5b4fb3;
  --red-a11: #ff9084;
  --red-a12: #ffd2cc;
}
