.theme-github {
  --yellow-1: #fefcfa;
  --yellow-2: #fff9ec;
  --yellow-3: #fff1cc;
  --yellow-4: #ffe8b6;
  --yellow-5: #ffdd9a;
  --yellow-6: #ffce83;
  --yellow-7: #efbf7b;
  --yellow-8: #dda757;
  --yellow-9: #9a6700;
  --yellow-10: #8c5a00;
  --yellow-11: #a06c0e;
  --yellow-12: #483925;

  --yellow-a1: #cc660005;
  --yellow-a2: #ffaf0013;
  --yellow-a3: #ffb90033;
  --yellow-a4: #ffaf0049;
  --yellow-a5: #ffaa0065;
  --yellow-a6: #ff9b007c;
  --yellow-a7: #e1840084;
  --yellow-a8: #cc7a00a8;
  --yellow-a9: #9a6700;
  --yellow-a10: #8c5a00;
  --yellow-a11: #9b6300f1;
  --yellow-a12: #291700da;
}

.theme-github.dark-theme {
  --yellow-1: #151009;
  --yellow-2: #1e170d;
  --yellow-3: #321f00;
  --yellow-4: #442500;
  --yellow-5: #512e00;
  --yellow-6: #613b00;
  --yellow-7: #764c00;
  --yellow-8: #956100;
  --yellow-9: #9e6a03;
  --yellow-10: #905d00;
  --yellow-11: #ffc978;
  --yellow-12: #ffe2a7;

  --yellow-a1: #f0000009;
  --yellow-a2: #fe660012;
  --yellow-a3: #ff6d0027;
  --yellow-a4: #ff69003a;
  --yellow-a5: #fe780048;
  --yellow-a6: #fe8a0059;
  --yellow-a7: #ff98006f;
  --yellow-a8: #fe9f0090;
  --yellow-a9: #ffa50099;
  --yellow-a10: #fe9c008b;
  --yellow-a11: #ffc978;
  --yellow-a12: #ffe2a7;
}
