.plugin-manager-modal {
  $gutter-h: 1.5rem;

  .v--modal {
    height: 100% !important;
    max-width: 800px;
  }

  .dialog-c-title {
    margin-top: $gutter-h;
    padding-inline: $gutter-h;
  }

  .dialog-content {
    height: 100%;
    padding: 0;
  }

  .plugin-manager-content {
    overflow: hidden;
    height: calc(100% - 34px);
    display: flex;
  }

  .plugin-list-container {
    padding: 1rem 0 0;
    flex-grow: 1;

    >.description {
      padding-inline: $gutter-h;
    }
  }

  .plugin-manager-filter-container {
    margin-top: 1rem;
  }

  .plugin-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    overflow-y: auto;

    .item {
      padding: 1rem $gutter-h;
      border-radius: 0.375rem;
      display: flex;
      place-content: space-between;
      gap: 1rem;
      cursor: pointer;

      &:hover {
        background-color: rgba($theme-base, 0.02);
      }

      &:focus-visible {
        outline-style: solid;
        outline-offset: 0.14rem;
        outline-width: 1px;
        outline-color: $theme-base;
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .description {
          line-height: 1.5rem;
        }

        .title {
          font-weight: 700;
        }

        .author {
          font-size: 0.875rem;
          color: rgba($theme-base, 0.7);
        }
      }
    }
  }

  .plugin-page-container {
    padding-inline: $gutter-h;
    overflow-y: auto;
    border-left: 1px solid rgba($theme-base, 0.1);
    flex-grow: 1;
    width: 34rem;

    .header {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid rgba($theme-base, 0.1);

      .title {
        font-size: 1.5rem;
        font-weight: 700;
      }

      .author {
        color: rgba($theme-base, 0.7);
      }

      .actions {
        margin-top: 0.5rem;
        display: flex;
        gap: 1rem;
      }
    }
  }
}
