:root,
.light-theme {
  --app-bg: var(--white);

  --btn-primary-fg: var(--gray-3);
  --btn-primary-bg: var(--black);
  --btn-primary-fg-hover: var(--gray-3);
  --btn-primary-bg-hover: var(--gray-12);

  --gray-1: #fcfcfc;
  --gray-2: #f9f9f9;
  --gray-3: #f0f0f0;
  --gray-4: #e8e8e8;
  --gray-5: #e1e1e1;
  --gray-6: #d9d9d9;
  --gray-7: #cecece;
  --gray-8: #bbb;
  --gray-9: #8c8c8c;
  --gray-10: #818181;
  --gray-11: #636363;
  --gray-12: #1f1f1f;

  --gray-a1: #00000003;
  --gray-a2: #00000006;
  --gray-a3: #0000000f;
  --gray-a4: #00000017;
  --gray-a5: #0000001e;
  --gray-a6: #00000026;
  --gray-a7: #00000031;
  --gray-a8: #00000044;
  --gray-a9: #00000073;
  --gray-a10: #0000007e;
  --gray-a11: #0000009c;
  --gray-a12: #000000e0;

  --primary-1: #fefdfa;
  --primary-2: #fffbea;
  --primary-3: #fff7bd;
  --primary-4: #ffef9c;
  --primary-5: #ffe67c;
  --primary-6: #efd875;
  --primary-7: #dec870;
  --primary-8: #cab248;
  --primary-9: #ffdf15;
  --primary-10: #f8d638;
  --primary-11: #8f7700;
  --primary-12: #433c22;

  --primary-a1: #cc990005;
  --primary-a2: #ffcf0015;
  --primary-a3: #ffe10042;
  --primary-a4: #ffd60063;
  --primary-a5: #ffcf0083;
  --primary-a6: #e2b7008a;
  --primary-a7: #c59d008f;
  --primary-a8: #b59400b7;
  --primary-a9: #ffdc00ea;
  --primary-a10: #f6cb00c7;
  --primary-a11: #8f7700;
  --primary-a12: #261e00dd;

  --danger-1: #fffcfc;
  --danger-2: #fff6f5;
  --danger-3: #ffeae8;
  --danger-4: #ffd7d2;
  --danger-5: #ffc8c2;
  --danger-6: #ffb9b2;
  --danger-7: #faa69f;
  --danger-8: #f18c84;
  --danger-9: #ff5d59;
  --danger-10: #f34e4c;
  --danger-11: #d43336;
  --danger-12: #602220;

  --danger-a1: #ff000003;
  --danger-a2: #ff1a000a;
  --danger-a3: #ff170017;
  --danger-a4: #ff1d002d;
  --danger-a5: #ff1a003d;
  --danger-a6: #ff18004d;
  --danger-a7: #f2130060;
  --danger-a8: #e211017b;
  --danger-a9: #ff0600a6;
  --danger-a10: #ee0300b3;
  --danger-a11: #c90004cc;
  --danger-a12: #490200df;

  --info-1: #fbfdff;
  --info-2: #f4f9fe;
  --info-3: #e5f4ff;
  --info-4: #d5edff;
  --info-5: #c4e3fd;
  --info-6: #afd7f7;
  --info-7: #94c6ee;
  --info-8: #69afe4;
  --info-9: #3498db;
  --info-10: #2e8bca;
  --info-11: #0077b8;
  --info-12: #143851;

  --info-a1: #0080ff04;
  --info-a2: #0074e80b;
  --info-a3: #0094ff1a;
  --info-a4: #0092ff2a;
  --info-a5: #0186f73b;
  --info-a6: #0080e650;
  --info-a7: #0178d76b;
  --info-a8: #0077d196;
  --info-a9: #007ed2cb;
  --info-a10: #0072bed1;
  --info-a11: #0077b8;
  --info-a12: #002742eb;
}

.dark-theme {
  --app-bg: #090909;

  --btn-primary-fg: var(--gray-2);
  --btn-primary-bg: var(--white);
  --btn-primary-fg-hover: var(--gray-2);
  --btn-primary-bg-hover: var(--gray-12);

  --gray-1: #090909;
  --gray-2: #171717;
  --gray-3: #222;
  --gray-4: #292929;
  --gray-5: #313131;
  --gray-6: #3a3a3a;
  --gray-7: #484848;
  --gray-8: #606060;
  --gray-9: #6d6d6d;
  --gray-10: #7a7a7a;
  --gray-11: #b3b3b3;
  --gray-12: #eee;

  --gray-a1: #00000000;
  --gray-a2: #ffffff0f;
  --gray-a3: #ffffff1a;
  --gray-a4: #ffffff21;
  --gray-a5: #ffffff29;
  --gray-a6: #ffffff33;
  --gray-a7: #ffffff41;
  --gray-a8: #ffffff5a;
  --gray-a9: #ffffff68;
  --gray-a10: #ffffff75;
  --gray-a11: #ffffffb0;
  --gray-a12: #ffffffed;

  --primary-1: #0b0904;
  --primary-2: #19170e;
  --primary-3: #292306;
  --primary-4: #362b00;
  --primary-5: #423500;
  --primary-6: #504305;
  --primary-7: #635519;
  --primary-8: #7d6d23;
  --primary-9: #fad83b;
  --primary-10: #f0ce2b;
  --primary-11: #fcda3e;
  --primary-12: #f9ecb4;

  --primary-a1: #b3090003;
  --primary-a2: #fadb5411;
  --primary-a3: #facc0022;
  --primary-a4: #fec2002f;
  --primary-a5: #fcc4003c;
  --primary-a6: #fed1004a;
  --primary-a7: #fdd7345e;
  --primary-a8: #fddc4079;
  --primary-a9: #ffdc3cfa;
  --primary-a10: #feda2df0;
  --primary-a11: #ffdd3ffc;
  --primary-a12: #fff2b8f9;

  --danger-1: #0f0706;
  --danger-2: #1f1110;
  --danger-3: #3c100f;
  --danger-4: #53080c;
  --danger-5: #651013;
  --danger-6: #771e1e;
  --danger-7: #912f2d;
  --danger-8: #bb3e3c;
  --danger-9: #ff5d59;
  --danger-10: #f1504e;
  --danger-11: #ff8f87;
  --danger-12: #ffd1cb;

  --danger-a1: #e4000007;
  --danger-a2: #fd625717;
  --danger-a3: #ff2b2635;
  --danger-a4: #ff06134d;
  --danger-a5: #fd1b2360;
  --danger-a6: #fd383873;
  --danger-a7: #ff4e4b8d;
  --danger-a8: #ff5350b9;
  --danger-a9: #ff5d59;
  --danger-a10: #ff5553f1;
  --danger-a11: #ff8f87;
  --danger-a12: #ffd1cb;

  --info-1: #040a10;
  --info-2: #0f1820;
  --info-3: #0e293b;
  --info-4: #063452;
  --info-5: #0e4162;
  --info-6: #1c5074;
  --info-7: #29628a;
  --info-8: #3378a8;
  --info-9: #3498db;
  --info-10: #238cce;
  --info-11: #75bff7;
  --info-12: #c5e5ff;

  --info-a1: #0029e908;
  --info-a2: #49a9fe18;
  --info-a3: #22a6ff34;
  --info-a4: #009afe4c;
  --info-a5: #17a3fd5d;
  --info-a6: #35adff6f;
  --info-a7: #46b3ff86;
  --info-a8: #4ab5ffa5;
  --info-a9: #3cb1ffda;
  --info-a10: #29acfecd;
  --info-a11: #79c5fff7;
  --info-a12: #c5e5ff;
}
