name: Deploy Docs to Netlify

on:
  push:
    branches:
      - master  # or your default branch
    paths-ignore:
      - 'apps/**'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13.7'  # or any specific version
        cache: 'pip' # caching pip dependencies

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Build site with mkdocs
      run: mkdocs build

    - name: Upload to Netlify
      uses: nwtgck/actions-netlify@v2.0
      with:
        publish-dir: './site'
        production-branch: master  # or your default branch
        github-token: ${{ secrets.GITHUB_TOKEN }}
        deploy-message: Deploy from GitHub Actions
      env:
        NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        NETLIFY_SITE_ID: ${{ secrets.DOCS_SITE_ID }}
