name: Studio - Master build

on:
  push:
    branches:
      - "master"
    paths-ignore:
      - 'apps/sqltools/**'

concurrency:
  group: master-build
  cancel-in-progress: true

jobs:
  masterbuild:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        # os: [macos-14, ubuntu-20.04, windows-2019, buildjet-2vcpu-ubuntu-2204-arm]
        os: [ubuntu-arm64]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v1

      - name: Install Snapcraft
        uses: samuelmeuli/action-snapcraft@v2
        if: "contains(matrix.os, 'ubuntu')"


      - name: Add user to sudo group because multipass is a PITA
        run: sudo usermod -a -G sudo $USER
        if: "contains(matrix.os, 'ubuntu')"

      - name: add sudo group to session
        run: newgrp sudo
        if: "contains(matrix.os, 'ubuntu')"

      - name: double check group names for user
        run: groups $USER
        if: "contains(matrix.os, 'ubuntu')"

      - name: Install lxd
        run: |
          sudo snap install lxd
        if: "contains(matrix.os, 'ubuntu')"

      - name: Add user to lxd group because multipass is a PITA
        run: sudo usermod -aG lxd $USER
        if: "contains(matrix.os, 'ubuntu')"

      - name: add lxd group to session
        run: newgrp lxd
        if: "contains(matrix.os, 'ubuntu')"


      - name: Install python 3.11 (not Mac)
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
        if: "!startsWith(matrix.os, 'macos')"

      - name: Install python 3.11 (mac)
        if: "startsWith(matrix.os, 'macos')"
        run: |
          # Install Python 3.11
          brew install python@3.11
          # Add Python 3.11 to PATH
          echo "/opt/homebrew/opt/python@3.11/libexec/bin" >> $GITHUB_PATH
          export PATH="/opt/homebrew/opt/python@3.11/libexec/bin:$PATH"
          export PYTHON_PATH="/opt/homebrew/opt/python@3.11/libexec/bin/python3"

      - name: Verify Python Version
        if: "startsWith(matrix.os, 'windows')"
        run: |
          $PYTHON_VERSION = python --version | Out-String
          Write-Output "Installed Python version: $PYTHON_VERSION"
          if (-not $PYTHON_VERSION.StartsWith("Python 3.11")) {
            Write-Output "Error: Python version does not start with 3.11"
            exit 1
          }
        shell: powershell

      - name: Verify Python Version
        if: "!startsWith(matrix.os, 'windows')"
        run: |
          PYTHON_VERSION=$(python3 --version | cut -d " " -f 2)
          echo "Installed Python version: $PYTHON_VERSION"
          if [[ ! $PYTHON_VERSION == 3.11* ]]; then
            echo "Error: Python version does not start with 3.11"
            exit 1
          fi

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: yarn

      - name: Clean cache
        run: yarn cache clean

      - name: Check dependencies
        run: "yarn install --frozen-lockfile --network-timeout 100000"
        env:
          npm_config_node_gyp: ${{ github.workspace }}${{ runner.os == 'Windows' && '\node_modules\node-gyp\bin\node-gyp.js' || '/node_modules/node-gyp/bin/node-gyp.js' }}
      - name: Build Electron app
        run: "yarn run electron:build --publish never"
        env:
          PYTHON_PATH: "${{ startsWith(matrix.os, 'macos') && '/opt/homebrew/opt/python@3.11/libexec/bin/python3' || '$PYTHON_PATH' }}"
          PYTHONPATH: "${{ startsWith(matrix.os, 'macos') && '/opt/homebrew/opt/python@3.11/libexec/bin/python3' || '$PYTHONPATH' }}"
          SNAPCRAFT_BUILD_ENVIRONMENT: 'lxd'

      - name: Cleanup artifacts
        if: "!startsWith(matrix.os, 'windows')"
        run: |
          npx rimraf "apps/studio/dist/!(*.exe|*.deb|*.rpm|*.AppImage|*.dmg|*.snap)"

      - name: Cleanup artifacts Win
        if: "startsWith(matrix.os, 'windows')"
        continue-on-error: true
        run: |
          npx rimraf "apps\studio\dist\!(*.exe)"

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}
          path: apps/studio/dist
