name: Studio - Master build

on:
  push:
    branches:
      - "master"
    paths-ignore:
      - 'apps/sqltools/**'

jobs:
  masterbuild:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-11, ubuntu-20.04, windows-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v1

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v1
        with:
          node-version: 16

      - name: Clean cache
        run: yarn cache clean

      - name: Check dependencies
        run: "yarn install --frozen-lockfile --network-timeout 100000"

      - name: Build Electron app
        run: "yarn run electron:build --publish never"
        env:
          KEYVAULT_AUTH: "${{secrets.keyvault_auth}}"
          KV_WIN_CERTIFICATE: "${{secrets.kv_win_certificate}}"

      - name: Cleanup artifacts
        if: "!startsWith(matrix.os, 'windows')"
        run: |
          npx rimraf "apps/studio/dist_electron/!(*.exe|*.deb|*.rpm|*.AppImage|*.dmg|*.snap)"

      - name: Cleanup artifacts Win
        if: "startsWith(matrix.os, 'windows')"
        continue-on-error: true
        run: |
          npx rimraf "apps\studio\dist_electron\!(*.exe)"

      - name: Upload artifacts
        uses: actions/upload-artifact@v1
        with:
          name: ${{ matrix.os }}
          path: apps/studio/dist_electron
